{
  "openapi": "3.0.1",
  "info": {
    "title": "Payaza Documentation",
    "version": "2.0.0",
    "description": "API reference for processing payments using Card, Bank Transfer, USSD, and QR Code methods."
  },
  "servers": [
    {
      "url": "https://api.payaza.africa/live"
    }
  ],
  "tags": [
    {
      "name": "Transfers",
      "description": "Transfers are transactions made from your Payaza account to beneficiaries. Merchants can instantly transfer funds from their available balance. For every transfer, you need to specify the amount and the beneficiary’s details. You become eligible to make transfers after you have been verified. (you sign up, finish account activation and KYC verification)."
    },
    {
      "name": "Payaza Account",
      "description": "This is our internal account that can be used to make payouts to other bank accounts, in single or in bulk. The Payaza account can also be used to receive settlements. It can also be used to track the transfer status of your transactions and check your balance instantly"
    },
    {
      "name": "Sub Accounts",
      "description": "This enables you to establish Sub Payaza accounts for your customers. Each sub-account comes with an assigned static virtual account, facilitating direct funding for individual accounts. Furthermore, the Main Payaza account can directly initiate funding for each sub-account. These sub-accounts serve the purpose of managing unique account positions or balances and facilitating disbursements from these positions to specified beneficiaries."
    },

    {
      "name": "EUR Transfers",
      "description": "This endpoints enable you to create EUR subaccounts which can be used to make transfers as required ."
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Payaza {{Public API Key in Base 64}}"
      },
      "TenantID": {
        "type": "apiKey",
        "in": "header",
        "name": "X-TenantID",
        "description": "live or test"
      },
      "ProductID": {
        "type": "apiKey",
        "in": "header",
        "name": "X-ProductID",
        "description": "default value is ‟app” "
      }
    },
    "schemas": {
      "initiateATransferRequest": {
        "title": "Initiate A Transfer",
        "type": "object",
        "required": ["transaction_type", "service_payload"],
        "properties": {
          "transaction_type": {
            "type": "string",
            "description": "The type of account being transferred to.(Default is NGN). \nNGN == “nuban”, \nGHS == “mobile_money” or “ghipps”, \nUGX == “mobile_money” ,\nTZS == “mobile_money” or “tiss”, \nKES == “mobile_money” or “kepss”, \nXOF == “mobile_money” or “wave”, \nXAF == “mobile_money”, \nZAR == “RTC”",
            "example": "nuban"
          },
          "service_payload": {
            "type": "object",
            "description": "It contains the details of the service payload.",
            "required": [
              "payout_amount",
              "transaction_pin",
              "account_reference",
              "currency",
              "payout_beneficiaries"
            ],
            "properties": {
              "payout_amount": {
                "type": "number",
                "format": "double",
                "description": "The amount of the transaction.",
                "example": 100
              },
              "transaction_pin": {
                "type": "integer",
                "description": "This is the merchant's unique transaction PIN",
                "example": 1111
              },
              "account_reference": {
                "type": "string",
                "description": "The reference of the Payaza account. Please be advised that your Payaza Account possesses unique account references corresponding to each currency utilized.(This is available in the **“View Payaza Account Details”** API response body).",
                "example": "1010000009"
              },
              "currency": {
                "type": "string",
                "description": "The transfer currency code.e.g. NGN, GHS, TZS, UGX, KES, XAF, ZAR.",
                "example": "NGN"
              },
              "country": {
                "type": "string",
                "description": "The ISO 3166-1 alpha-3 country code e.g. BEN,CIV,CMR. This is required for XOF payouts",
                "example": "NGA"
              },
              "payout_beneficiaries": {
                "type": "array",
                "description": "It contains the details of the payout beneficiaries",
                "items": {
                  "type": "object",
                  "required": [
                    "credit_amount",
                    "account_number",
                    "account_name",
                    "bank_code",
                    "narration",
                    "transaction_reference",
                    "sender"
                  ],
                  "properties": {
                    "credit_amount": {
                      "type": "number",
                      "format": "double",
                      "description": "The amount to be credited to this particular beneficiary.",
                      "example": 100
                    },
                    "account_number": {
                      "type": "string",
                      "description": "This is the account number of the beneficiary. \nFor “nuban” transfer == 10 digits \nFor “kepss” transfer == 10 digits \nFor “mobile_money” == 12 digits for GHA, TZA, UGA, KEN, CMR and 13 digits for CIV, BEN (starting with the 3-digit country code) \ne,g.Ghana = 233xxxxxxxxx,\nKenya = 254xxxxxxxxx, \nUganda = 256xxxxxxxxx, \nTanzania = 255xxxxxxxxx, \nCameroon = 237xxxxxxxxx, \nBenin = 229(01)xxxxxxxx, \nCote D'ivoire = 225xxxxxxxxxx, etc..",
                      "example": "9207067319"
                    },
                    "account_name": {
                      "type": "string",
                      "description": "This is the name of the beneficiary for the transfer.",
                      "example": "John Doe"
                    },
                    "bank_code": {
                      "type": "string",
                      "description": "This is the beneficiary's bank code.",
                      "example": "000013"
                    },
                    "narration": {
                      "type": "string",
                      "description": "Narration for the payout (This must be 25 characters or less with no special characters).",
                      "example": "Test Payment"
                    },
                    "transaction_reference": {
                      "type": "string",
                      "description": "This is the unique identifier generated for each transaction by the merchant.",
                      "example": "TD93001234"
                    },
                    "sender": {
                      "type": "object",
                      "description": "It contains the details of the sender.",
                      "required": [
                        "sender_name",
                        "sender_phone_number",
                        "sender_address"
                      ],
                      "properties": {
                        "sender_name": {
                          "type": "string",
                          "description": "Name of the sender.",
                          "example": "Jane Doe"
                        },
                        "sender_id": {
                          "type": "string",
                          "description": "Unique ID of sender.",
                          "example": ""
                        },
                        "sender_phone_number": {
                          "type": "string",
                          "description": "Phone number of the sender.",
                          "example": "01234595"
                        },
                        "sender_address": {
                          "type": "string",
                          "description": "Address of the sender.",
                          "example": "123, Ace Street"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "getAccountNameEnquiryRequest": {
        "title": "Get Account Name Enquiry",
        "type": "object",
        "properties": {
          "service_payload": {
            "type": "object",
            "description": "It contains the details of the service payload.",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency code (e.g., NGN)",
                "example": "NGN"
              },
              "bank_code": {
                "type": "string",
                "description": "The unique code of the bank",
                "example": "100004"
              },
              "account_number": {
                "type": "string",
                "description": "The customer's account number",
                "example": "800109013"
              }
            },
            "required": ["currency", "bank_code", "account_number"]
          }
        }
      },
      "createASubAccountRequest": {
        "title": "Create A Sub Account request",
        "type": "object",
        "required": [
          "mainAccountPayazaReference",
          "name",
          "currency",
          "country"
        ],
        "properties": {
          "mainAccountPayazaReference": {
            "type": "string",
            "description": "The Account reference of the main Payaza account.",
            "example": "100000000"
          },
          "name": {
            "type": "string",
            "description": "The name of the sub-account being created.",
            "example": "Test Sub Account"
          },
          "currency": {
            "type": "string",
            "description": "The currency code.",
            "example": "NGN"
          },
          "country": {
            "type": "string",
            "description": "The country code in ISO 3166-1 alpha-3 format (e.g., NGA).",
            "example": "NGA"
          }
        }
      },
      "corporateSubAccountRequest": {
        "title": "Request Corporate Subaccount",
        "type": "object",
        "required": [
          "country",
          "purpose",
          "currency",
          "category",
          "account_type",
          "company_name",
          "main_account_payaza_reference",
          "certificate_of_incorporation",
          "consent",
          "directors"
        ],
        "properties": {
          "country": {
            "type": "string",
            "description": "The 2-letter ISO country code (e.g.US.)",
            "example": "US"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose for opening the account.",
            "example": "test purposes"
          },
          "currency": {
            "type": "string",
            "description": "The currency code e.g. **EUR**.",
            "example": "EUR"
          },
          "category": {
            "type": "string",
            "description": "The category of the account.",
            "example": "SUB_ACCOUNT"
          },
          "certificate_of_incorporation": {
            "type": "string",
            "format": "uri",
            "description": "URL link to the certificate of incorporation.",
            "example": "https://payaza-assets.s3.amazonaws.com/development/cert.png"
          },
          "mermat": {
            "type": "string",
            "format": "uri",
            "description": "URL link to company memorandum and articles of association.",
            "example": "https://payaza-assets.s3.amazonaws.com/development/mermat.jpg"
          },
          "consent": {
            "type": "boolean",
            "description": "Whether the company consents to the account request.",
            "example": true
          },
          "account_type": {
            "type": "string",
            "description": "Type of account **(corporate)**.",
            "example": "corporate"
          },
          "main_account_payaza_reference": {
            "type": "string",
            "description": "The main Payaza account reference number.",
            "example": "10987654312"
          },
          "company_name": {
            "type": "string",
            "description": "The registered company name.",
            "example": "Steve Stones Plc"
          },
          "directors": {
            "type": "array",
            "description": "List of directors with identification and proof of address.",
            "items": {
              "type": "object",
              "required": ["id_file", "id_type", "poa_file", "poa_type"],
              "properties": {
                "id_file": {
                  "type": "string",
                  "format": "uri",
                  "description": "URL to the director's ID document.",
                  "example": "https://payaza-assets.s3.amazonaws.com/development/id1.jpg"
                },
                "id_type": {
                  "type": "string",
                  "description": "Type of ID provided (e.g., passport).",
                  "example": "passport"
                },
                "poa_file": {
                  "type": "string",
                  "format": "uri",
                  "description": "URL to the Proof of Address document.",
                  "example": "https://payaza-assets.s3.amazonaws.com/development/poa1.jpg"
                },
                "poa_type": {
                  "type": "string",
                  "description": "Type of POA provided (e.g., utilityBill).",
                  "example": "utilityBill"
                }
              }
            }
          },
          "shareholders": {
            "type": "array",
            "description": "List of company shareholders (Optional).",
            "items": {
              "type": "object",
              "required": ["id_file", "id_type", "poa_file", "poa_type"],
              "properties": {
                "id_file": {
                  "type": "string",
                  "format": "uri",
                  "description": "URL to the shareholder's ID document.",
                  "example": "https://payaza-assets.s3.amazonaws.com/development/id2.jpg"
                },
                "id_type": {
                  "type": "string",
                  "description": "Type of ID provided.",
                  "example": "passport"
                },
                "poa_file": {
                  "type": "string",
                  "format": "uri",
                  "description": "URL to the shareholder's Proof of Address.",
                  "example": "https://payaza-assets.s3.amazonaws.com/development/poa2.png"
                },
                "poa_type": {
                  "type": "string",
                  "description": "Type of POA provided.",
                  "example": "utilityBill"
                }
              }
            }
          }
        }
      },
      "userSubAccountRequest": {
        "title": "Request User Sub-account Request",
        "type": "object",
        "required": [
          "country",
          "currency",
          "category",
          "purpose",
          "consent",
          "account_type",
          "main_account_payaza_reference",
          "id_file",
          "id_type",
          "poa_file",
          "first_name",
          "last_name"
        ],
        "properties": {
          "country": {
            "type": "string",
            "description": "The country ISO code **(e.g. US)**",
            "example": "US"
          },
          "currency": {
            "type": "string",
            "description": "The currency code **(e.g. EUR)**.",
            "example": "EUR"
          },
          "category": {
            "type": "string",
            "description": "The category of the account.",
            "example": "SUB_ACCOUNT"
          },
          "purpose": {
            "type": "string",
            "description": "Purpose of account.",
            "example": "Testing"
          },
          "consent": {
            "type": "boolean",
            "description": "Consent confirmation.",
            "example": "true"
          },
          "account_type": {
            "type": "string",
            "description": "Type of account (**user**).",
            "example": "user"
          },
          "main_account_payaza_reference": {
            "type": "string",
            "description": "The main Payaza account reference.",
            "example": "10987654312"
          },
          "id_file": {
            "type": "string",
            "format": "uri",
            "description": "URL link to the user's ID document.",
            "example": "https://payaza-assets.s3.amazonaws.com/development/id.jpg"
          },
          "id_type": {
            "type": "string",
            "description": "User’s ID type (**passport** or **identityCard**)..",
            "example": "passport"
          },
          "poa_file": {
            "type": "string",
            "format": "uri",
            "description": "URL link to the Proof of Address document.",
            "example": "https://payaza-assets.s3.amazonaws.com/development/poa.png"
          },
          "poa_type": {
            "type": "string",
            "description": "Type of proof of address (e.g. utilityBill)",
            "example": "utilityBill"
          },
          "first_name": {
            "type": "string",
            "description": "First name of the user.",
            "example": "Steve"
          },
          "last_name": {
            "type": "string",
            "description": "Last name of the user.",
            "example": "Stones"
          }
        }
      },
      "TransactionStatusResponse": {
        "title": "Transaction Status Response",
        "type": "object",
        "properties": {
          "response_code": { "type": "string" },
          "transaction_reference": { "type": "string" },
          "transaction_amount": { "type": "string" },
          "transaction_fee": { "type": "string" },
          "transaction_status": { "type": "string" },
          "payer_name": { "type": "string" },
          "payer_account_number": { "type": "string" },
          "start_date": { "type": "string" },
          "end_date": { "type": "string" },
          "currency": { "type": "string" }
        }
      },
      "InitiateATransferResponse": {
        "title": "Transfer Response",
        "type": "object",
        "properties": {
          "response_code": { "type": "integer" },
          "response_message": { "type": "string" },
          "response_content": {
            "type": "object",
            "properties": {
              "transaction_status": { "type": "string" },
              "amount": { "type": "number" },
              "response_status": { "type": "string" }
            }
          }
        }
      },
      "getAccountNameEnquiryResponse": {
        "title": "Account Name Enquiry Response",
        "type": "object",
        "properties": {
          "response_code": { "type": "integer" },
          "response_message": { "type": "string" },
          "response_content": {
            "type": "object",
            "properties": {
              "account_number": { "type": "string" },
              "account_name": { "type": "string" },
              "bank_code": { "type": "string" },
              "account_status": { "type": "string" }
            }
          }
        }
      },
      "transactionStatusQueryResponse": {
        "title": "Transaction Status Query Response",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Response message.",
            "example": "Transaction fetched"
          },
          "status": {
            "type": "boolean",
            "description": "Request status.",
            "example": true
          },
          "retry_count": {
            "type": "integer",
            "description": "Number of retries attempted.",
            "example": 0
          },
          "data": {
            "type": "object",
            "description": "Transaction details.",
            "properties": {
              "transactionDateTime": {
                "type": "string",
                "format": "date-time",
                "description": "Date and time of the transaction.",
                "example": "2023-02-02T17:08:55.084673"
              },
              "transactionReference": {
                "type": "string",
                "description": "Unique transaction reference.",
                "example": "1242368116"
              },
              "creditAccount": {
                "type": "string",
                "description": "Account credited.",
                "example": "1023213616"
              },
              "bankCode": {
                "type": "string",
                "description": "Bank code of the beneficiary.",
                "example": "000004"
              },
              "beneficiaryName": {
                "type": "string",
                "description": "Name of the beneficiary.",
                "example": "WILSON JAMES"
              },
              "transactionAmount": {
                "type": "number",
                "format": "double",
                "description": "Amount transacted.",
                "example": 300
              },
              "fee": {
                "type": "number",
                "format": "double",
                "description": "Transaction fee.",
                "example": 10
              },
              "sessionId": {
                "type": "string",
                "description": "Session ID from the provider.",
                "example": "999999240902170916631388211854"
              },
              "transactionStatus": {
                "type": "string",
                "description": "Status of the transaction (e.g., NIP_SUCCESS).",
                "example": "NIP_SUCCESS"
              },
              "narration": {
                "type": "string",
                "description": "Transaction narration.",
                "example": "Remittance"
              },
              "transactionType": {
                "type": "string",
                "description": "Type of transaction (e.g., DEBIT).",
                "example": "DEBIT"
              },
              "responseMessage": {
                "type": "string",
                "description": "Detailed response message.",
                "example": "Approved or Completely Successful"
              },
              "responseCode": {
                "type": "string",
                "description": "Response code (00 indicates success).",
                "example": "00"
              },
              "currency": {
                "type": "string",
                "description": "Transaction currency.",
                "example": "NGN"
              },
              "balanceBefore": {
                "type": "number",
                "format": "double",
                "description": "Balance before transaction.",
                "example": 431.1
              },
              "balanceAfter": {
                "type": "number",
                "format": "double",
                "description": "Balance after transaction.",
                "example": 121.1
              },
              "duration": {
                "type": "object",
                "description": "Duration details (if any)."
              }
            }
          }
        }
      },
      "bankCodesResponse": {
        "title": "Bank Codes Response",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Response message."
          },
          "status": {
            "type": "boolean",
            "description": "Status of the request."
          },
          "retry_count": {
            "type": "integer",
            "description": "Number of retries."
          },
          "data": {
            "type": "array",
            "description": "List of available banks.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Unique ID of the bank."
                },
                "name": {
                  "type": "string",
                  "description": "Full name of the bank."
                },
                "avatar": {
                  "type": "string",
                  "description": "URL to the bank's logo."
                },
                "code": {
                  "type": "string",
                  "description": "Bank code."
                },
                "active": {
                  "type": "boolean",
                  "description": "Whether the bank is currently active."
                },
                "type": {
                  "type": "string",
                  "description": "Type of institution (e.g., mobile_money)."
                },
                "short_name": {
                  "type": "string",
                  "description": "Short name of the bank."
                },
                "sort_code": {
                  "type": "string",
                  "nullable": true,
                  "description": "Sort code (if applicable)."
                },
                "currency_code": {
                  "type": "string",
                  "description": "Currency supported."
                },
                "country_code": {
                  "type": "string",
                  "description": "Country code."
                },
                "block_transaction": {
                  "type": "boolean",
                  "description": "Whether transactions are blocked."
                }
              }
            }
          }
        }
      },
      "viewPayazaAccountDetailsResponse": {
        "title": "View Payaza Account Details",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Response message."
          },
          "status": {
            "type": "boolean",
            "description": "Request status."
          },
          "data": {
            "type": "array",
            "description": "List of Payaza accounts found.",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "integer" },
                "accountName": {
                  "type": "string",
                  "description": "The name of the Payaza Account"
                },
                "payazaAccountReference": {
                  "type": "string",
                  "description": "The Payaza Account Reference"
                },
                "status": { "type": "string" },
                "accountBalance": {
                  "type": "number",
                  "format": "double",
                  "description": "Current balance of the account."
                },
                "businessId": { "type": "integer" },
                "currency": { "type": "string" },
                "country": { "type": "string" },
                "organizationName": { "type": "string" },
                "productCode": { "type": "string" },
                "productNumber": { "type": "string" },
                "postNoCredit": { "type": "boolean" },
                "postNoDebit": { "type": "boolean" },
                "originatorName": {
                  "type": "string",
                  "nullable": true
                },
                "pauseTransactions": {
                  "type": "boolean",
                  "nullable": true
                },
                "hasVirtualAccounts": { "type": "boolean" },
                "holdTransactionAtLowBalance": { "type": "boolean" },
                "createdDate": {
                  "type": "string",
                  "format": "date-time"
                },
                "currencyCountry": {
                  "type": "string",
                  "nullable": true
                },
                "virtualAccounts": {
                  "type": "array",
                  "description": "List of virtual accounts linked to this main account.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "accountNumber": { "type": "string" },
                      "accountName": { "type": "string" },
                      "bankCode": { "type": "string" },
                      "bankId": { "type": "integer" },
                      "status": { "type": "string" },
                      "street": { "type": "string" },
                      "street2": { "type": "string" },
                      "city": { "type": "string" },
                      "countryCode": { "type": "string" },
                      "_api": { "type": "boolean" }
                    }
                  }
                }
              }
            }
          },
          "pageDetail": {
            "type": "object",
            "description": "Pagination details.",
            "properties": {
              "sorted": { "type": "boolean" },
              "pageNumber": { "type": "integer" },
              "pageSize": { "type": "integer" },
              "paged": { "type": "boolean" },
              "totalPages": { "type": "integer" },
              "totalElements": { "type": "integer" },
              "last": { "type": "boolean" },
              "size": { "type": "integer" },
              "number": { "type": "integer" },
              "numberOfElements": { "type": "integer" },
              "offset": {
                "type": "integer",
                "nullable": true
              }
            }
          },
          "totalCount": { "type": "integer" },
          "responseCode": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "createASubAccountResponse": {
        "title": "Create A Sub Account Response",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Response message.",
            "example": "New account created"
          },
          "status": {
            "type": "boolean",
            "description": "Request status.",
            "example": true
          },
          "data": {
            "type": "array",
            "description": "List containing the newly created account details.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Unique identifier for the sub-account.",
                  "example": 1110
                },
                "accountName": {
                  "type": "string",
                  "description": "Name of the sub-account.",
                  "example": "Test Sub Account"
                },
                "accountStatus": {
                  "type": "string",
                  "description": "Current status of the account (e.g., ACTIVE).",
                  "example": "ACTIVE"
                },
                "accountBalance": {
                  "type": "number",
                  "format": "double",
                  "description": "Current available balance.",
                  "example": 0
                },
                "escrowBalance": {
                  "type": "number",
                  "format": "double",
                  "description": "Balance currently in escrow.",
                  "example": 0
                },
                "businessFk": {
                  "type": "integer",
                  "description": "Foreign key linking to the main business entity.",
                  "example": 11407
                },
                "currency": {
                  "type": "string",
                  "description": "Currency code.",
                  "example": "NGN"
                },
                "owner": {
                  "type": "string",
                  "description": "Owner of the account.",
                  "example": "PAYAZA"
                },
                "country": {
                  "type": "string",
                  "description": "Country code.",
                  "example": "NGA"
                },
                "creationReference": {
                  "type": "string",
                  "description": "Unique reference generated upon creation.",
                  "example": "DC625576B5BF426A94CB6B1D868C0"
                },
                "actionStatus": {
                  "type": "string",
                  "description": "Action status.",
                  "example": "ACTIVE"
                },
                "payazaAccountReference": {
                  "type": "string",
                  "description": "The Payaza reference ID for this sub-account.",
                  "example": "2010000120"
                },
                "pnc": {
                  "type": "boolean",
                  "description": "Post No Credit status.",
                  "example": false
                },
                "pnd": {
                  "type": "boolean",
                  "description": "Post No Debit status.",
                  "example": false
                },
                "virtualAccounts": {
                  "type": "array",
                  "description": "List of virtual accounts attached to this sub-account.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "accountNumber": {
                        "type": "string",
                        "description": "Virtual account number.",
                        "example": "9977719429"
                      },
                      "accountName": {
                        "type": "string",
                        "description": "Name attached to the virtual account.",
                        "example": "MERCHANT(Test Sub Account)"
                      },
                      "bankCode": {
                        "type": "string",
                        "description": "Bank code for the virtual account.",
                        "example": "000023"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "viewPayazaSubAccountDetailsResponse": {
        "title": "View Sub Account Response",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Response message.",
            "example": "Account details fetched"
          },
          "status": {
            "type": "boolean",
            "description": "Request status.",
            "example": true
          },
          "data": {
            "type": "array",
            "description": "List containing the account details.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Unique identifier for the sub-account.",
                  "example": 1110
                },
                "accountName": {
                  "type": "string",
                  "description": "Name of the sub-account.",
                  "example": "Test Sub Account"
                },
                "accountStatus": {
                  "type": "string",
                  "description": "Current status of the account.",
                  "example": "ACTIVE"
                },
                "accountBalance": {
                  "type": "number",
                  "format": "double",
                  "description": "Current available balance.",
                  "example": 0
                },
                "escrowBalance": {
                  "type": "number",
                  "format": "double",
                  "description": "Balance currently in escrow.",
                  "example": 0
                },
                "businessFk": {
                  "type": "integer",
                  "description": "Foreign key linking to the main business.",
                  "example": 11407
                },
                "currency": {
                  "type": "string",
                  "description": "Currency code.",
                  "example": "NGN"
                },
                "owner": {
                  "type": "string",
                  "description": "Owner of the account.",
                  "example": "PAYAZA"
                },
                "country": {
                  "type": "string",
                  "description": "Country code.",
                  "example": "NGA"
                },
                "creationReference": {
                  "type": "string",
                  "description": "Unique creation reference.",
                  "example": "DC625576B5BF426A94CB6B1D868C0"
                },
                "actionStatus": {
                  "type": "string",
                  "description": "Action status.",
                  "example": "ACTIVE"
                },
                "payazaAccountReference": {
                  "type": "string",
                  "description": "Payaza reference ID.",
                  "example": "2010000120"
                },
                "pnc": {
                  "type": "boolean",
                  "description": "Post No Credit status.",
                  "example": false
                },
                "pnd": {
                  "type": "boolean",
                  "description": "Post No Debit status.",
                  "example": false
                },
                "virtualAccounts": {
                  "type": "array",
                  "description": "Virtual accounts linked to this sub-account.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "accountNumber": {
                        "type": "string",
                        "description": "Virtual account number.",
                        "example": "9977719429"
                      },
                      "accountName": {
                        "type": "string",
                        "description": "Virtual account name.",
                        "example": "MERCHANT(Test Sub Account)"
                      },
                      "bankCode": {
                        "type": "string",
                        "description": "Bank code.",
                        "example": "000023"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "requestSubAccountResponse": {
        "title": "Request Sub-account Request",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Response message.",
            "example": "EUR Account request has been submitted for review."
          },
          "status": {
            "type": "boolean",
            "description": "Request status.",
            "example": true
          },
          "creationReference": {
            "type": "string",
            "description": "Unique reference ID to track the status of the review.",
            "example": "ac456ecb-7870-47d4-af23-2dde8563235f"
          }
        }
      },
      "getAllEurAccountRequestResponse": {
        "title": "Get All EUR Account Request",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Response message.",
            "example": "Fetch Euro Accounts Requests"
          },
          "status": {
            "type": "boolean",
            "description": "Request status.",
            "example": true
          },
          "data": {
            "type": "array",
            "description": "List of account requests (Corporate or User).",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "integer", "example": 2278 },
                "country": { "type": "string", "example": "USA" },
                "currency": { "type": "string", "example": "EUR" },
                "status": { "type": "string", "example": "ADMIN_PENDING" },
                "category": { "type": "string", "example": "SUB_ACCOUNT" },
                "account_type": {
                  "type": "string",
                  "description": "Type of account ('corporate' or 'user').",
                  "example": "corporate"
                },
                "created_at": { "type": "string", "format": "date-time" },
                "country_2_iso": { "type": "string", "example": "US" },

                "company_name": {
                  "type": "string",
                  "description": "Corporate only."
                },
                "business_name": {
                  "type": "string",
                  "description": "Corporate only."
                },
                "business_fk": {
                  "type": "integer",
                  "description": "Corporate only."
                },
                "creationReference": { "type": "string" },
                "mermat": { "type": "string", "format": "uri" },
                "certificate_of_incorporation": {
                  "type": "string",
                  "format": "uri"
                },

                "first_name": {
                  "type": "string",
                  "description": "User account only."
                },
                "last_name": {
                  "type": "string",
                  "description": "User account only."
                },
                "provider_request_reference": { "type": "string" },

                "directors": {
                  "type": "array",
                  "description": "List of directors (Corporate only).",
                  "items": { "$ref": "#/components/schemas/KycDocument" }
                },
                "shareholders": {
                  "type": "array",
                  "description": "List of shareholders (Corporate only).",
                  "items": { "$ref": "#/components/schemas/KycDocument" }
                },
                "user_kyc": {
                  "type": "array",
                  "description": "KYC documents (User account only).",
                  "items": { "$ref": "#/components/schemas/KycDocument" }
                }
              }
            }
          },
          "pageDetail": {
            "type": "object",
            "properties": {
              "sorted": { "type": "boolean" },
              "pageNumber": { "type": "integer" },
              "pageSize": { "type": "integer" },
              "paged": { "type": "boolean" },
              "totalPages": { "type": "integer" },
              "totalElements": { "type": "integer" },
              "last": { "type": "boolean" },
              "size": { "type": "integer" },
              "number": { "type": "integer" },
              "numberOfElements": { "type": "integer" },
              "offset": { "type": "integer" }
            }
          }
        }
      }
    }
  },
  "security": [{ "ApiKeyAuth": [] }, { "TenantID": [] }, { "ProductID": [] }],
  "paths": {
    "/payout-receptor/payout": {
      "post": {
        "tags": ["Transfers"],
        "summary": "Initiate A Transfer",
        "description": "This endpoint initiates a transfer from your Payaza account to a bank account.\n\n> **Important Note:**\n> Transfers are only processed on business days between 8:00 AM and 5:00 PM. <br/> Ensure your wallet is funded before initiating.",
        "security": [
          {
            "ApiKeyAuth": [],
            "TenantID": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/initiateATransferRequest" }
                ]
              },
              "examples": {
                "transfer": {
                  "summary": "Initiate A Transfer",
                  "value": {
                    "transaction_type": "nuban",
                    "service_payload": {
                      "payout_amount": 100,
                      "transaction_pin": 1111,
                      "account_reference": "1010000009",
                      "currency": "NGN",
                      "country": "NGA",
                      "payout_beneficiaries": [
                        {
                          "credit_amount": 100,
                          "account_number": "9207067319",
                          "account_name": "John Doe",
                          "bank_code": "000013",
                          "narration": "Test",
                          "transaction_reference": "TD93001234",
                          "sender": {
                            "sender_name": "Jane Doe",
                            "sender_id": "",
                            "sender_phone_number": "01234595",
                            "sender_address": "123, Ace Street"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InitiateATransferResponse"
                    }
                  ]
                },
                "examples": {
                  "transfer_response": {
                    "summary": "Success Response",
                    "value": {
                      "response_code": 200,
                      "response_message": "Request successfully submitted",
                      "response_content": {
                        "transaction_status": "09",
                        "narration": "Payout",
                        "transaction_time": "2023-10-19T14:37:35.517809",
                        "amount": 100,
                        "response_status": "TRANSACTION_INITIATED",
                        "response_description": "Transaction has been successfully submitted for processing"
                      },
                      "resp_code": "09"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          }
        }
      }
    },
    "/payaza-account/api/v1/mainaccounts/merchant/provider/enquiry": {
      "post": {
        "tags": ["Transfers"],
        "summary": "Get Account Name Enquiry",
        "description": "This endpoint fetches the account details.",
        "security": [
          {
            "ApiKeyAuth": [],
            "TenantID": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/getAccountNameEnquiryRequest"
                  }
                ]
              },
              "examples": {
                "name_enquiry": {
                  "summary": "Account Name Enquiry",
                  "value": {
                    "service_payload": {
                      "currency": "NGN",
                      "bank_code": "090123",
                      "account_number": "0103937899"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account Name Enquiry Successful",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/getAccountNameEnquiryResponse"
                    }
                  ]
                },
                "examples": {
                  "transfer": {
                    "summary": "Account Name Enquiry",
                    "value": {
                      "response_code": 200,
                      "response_message": "Approved or completely successful",
                      "response_content": {
                        "account_number": "0190878999",
                        "bank_code": "203012",
                        "account_name": "Olaolu Adejide",
                        "account_status": "ACTIVE",
                        "transaction_reference": 9
                      },
                      "response_content_class": "com.fin78.app.payload.response.enquiry.account.AccountNameEnquiryInfoResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          }
        }
      }
    },
    "/payaza-account/api/v1/mainaccounts/merchant/transaction/{transaction_reference}": {
      "get": {
        "tags": ["Transfers"],
        "summary": "Transaction Status Query",
        "description": "This endpoint gets the details of a particular transaction by the reference. ",
        "security": [
          {
            "ApiKeyAuth": ["Payaza {{Public API Key In Base64}}"],
            "TenantID": ["test or live"]
          }
        ],
        "parameters": [
          {
            "name": "transaction_reference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier given to a particular transaction"
          }
        ],

        "responses": {
          "200": {
            "description": "Payment successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/transactionStatusQueryResponse"
                },
                "examples": {
                  "TSQ": {
                    "summary": "TSQ Response",
                    "value": {
                      "message": "Transaction fetched",
                      "status": true,
                      "retry_count": 0,
                      "data": {
                        "transactionDateTime": "2023-02-02T17:08:55.084673",
                        "transactionReference": "1242368116",
                        "creditAccount": "1023213616",
                        "bankCode": "000004",
                        "beneficiaryName": "WILSON JAMES",
                        "transactionAmount": 300,
                        "fee": 10,
                        "sessionId": "999999240902170916631388211854",
                        "transactionStatus": "NIP_SUCCESS",
                        "narration": "Remittance",
                        "transactionType": "DEBIT",
                        "responseMessage": "Approved or Completely Successful",
                        "responseCode": "00",
                        "currency": "NGN",
                        "balanceBefore": 431.1,
                        "balanceAfter": 121.1,
                        "duration": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Payment failed" }
        }
      }
    },
    "/payaza-account/api/v1/mainaccounts/merchant/banks/{currency_code}": {
      "get": {
        "tags": ["Transfers"],
        "summary": "Bank Codes",
        "description": "This endpoint fetches the bank codes available for each country",
        "security": [
          {
            "ApiKeyAuth": ["Payaza {{Public API Key In Base64}}"],
            "TenantID": ["test or live"]
          }
        ],
        "parameters": [
          {
            "name": "currency_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The currency code (e.g., XAF, NGN)"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bankCodesResponse"
                },
                "examples": {
                  "Bank Codes": {
                    "summary": "List of banks",
                    "value": {
                      "message": "List of banks for XAF",
                      "status": true,
                      "retry_count": 0,
                      "data": [
                        {
                          "id": 3179,
                          "name": "MTN Cameroon",
                          "avatar": "https://payaza-assets.s3.amazonaws.com/production/1741623087222-download(4).png",
                          "code": "MTNCMR",
                          "active": true,
                          "type": "mobile_money",
                          "short_name": "MTN",
                          "sort_code": null,
                          "currency_code": "XAF",
                          "country_code": "CMR",
                          "block_transaction": false
                        },
                        {
                          "id": 3180,
                          "name": "Orange Money Cameroon",
                          "avatar": "https://payaza-assets.s3.amazonaws.com/production/1744050523378-orange-money-logo-8F2AED308D-seeklogo.com.png",
                          "code": "ORACMR",
                          "active": true,
                          "type": "mobile_money",
                          "short_name": "Orange",
                          "sort_code": null,
                          "currency_code": "XAF",
                          "country_code": "CMR",
                          "block_transaction": false
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Payment failed"
          }
        }
      }
    },
    "/payaza-account/api/v1/mainaccounts/merchant/enquiry/main": {
      "get": {
        "tags": ["Payaza Account"],
        "summary": "View Payaza Account Details",
        "description": "This endpoint retrieves the Payaza account details for a merchant.",
        "security": [
          {
            "ApiKeyAuth": ["Payaza {{Public API Key In Base64}}"],
            "TenantID": ["test or live"]
          }
        ],
        "responses": {
          "200": {
            "description": "Account Enquiry Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/viewPayazaAccountDetailsResponse"
                },
                "examples": {
                  "View Payaza Account Details": {
                    "summary": "View Payaza Account Details",
                    "value": {
                      "message": "Account enquiry response",
                      "status": true,
                      "data": [
                        {
                          "id": 1,
                          "accountName": "Test Merchant",
                          "payazaAccountReference": "1010000000",
                          "status": "ACTIVE",
                          "accountBalance": 990.13,
                          "businessId": 92,
                          "currency": "NGN",
                          "country": "NGA",
                          "organizationName": "PAYAZA",
                          "productCode": "PAYOUT-MAIN-NGN",
                          "productNumber": "101",
                          "postNoCredit": false,
                          "postNoDebit": true,
                          "originatorName": null,
                          "pauseTransactions": null,
                          "hasVirtualAccounts": true,
                          "holdTransactionAtLowBalance": false,
                          "virtualAccounts": [
                            {
                              "accountNumber": "99926838326",
                              "accountName": "PAYAZA(Test Merchant)",
                              "bankCode": "000023",
                              "bankId": 306,
                              "status": "Active",
                              "street": "",
                              "street2": "",
                              "city": "",
                              "countryCode": "",
                              "_api": false
                            }
                          ],
                          "createdDate": "2022-02-01T18:51:16.762865",
                          "currencyCountry": null
                        },
                        {
                          "id": 1658,
                          "accountName": "Test Merchant",
                          "payazaAccountReference": "3010000000",
                          "status": "ACTIVE",
                          "accountBalance": 1000,
                          "businessId": 1,
                          "currency": "GHS",
                          "country": "GHA",
                          "organizationName": "PAYAZA",
                          "productCode": "PAYOUT-MAIN-GHS",
                          "productNumber": "301",
                          "postNoCredit": false,
                          "postNoDebit": true,
                          "originatorName": null,
                          "pauseTransactions": null,
                          "hasVirtualAccounts": false,
                          "holdTransactionAtLowBalance": false,
                          "virtualAccounts": [],
                          "createdDate": "2022-02-04T04:11:50.850974",
                          "currencyCountry": null
                        }
                      ],
                      "pageDetail": {
                        "sorted": false,
                        "pageNumber": 0,
                        "pageSize": 0,
                        "paged": false,
                        "totalPages": 0,
                        "totalElements": 0,
                        "last": false,
                        "size": 0,
                        "number": 0,
                        "numberOfElements": 0,
                        "offset": null
                      },
                      "totalCount": 0,
                      "responseCode": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Payment failed"
          }
        }
      }
    },
    "/payaza-account/api/v1/subaccounts/merchant": {
      "post": {
        "tags": ["Sub Accounts"],
        "summary": "Create A Subaccount",
        "description": "This endpoint creates a subaccount.",
        "security": [
          {
            "ApiKeyAuth": [],
            "TenantID": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/createASubAccountRequest"
                  }
                ]
              },
              "examples": {
                "name_enquiry": {
                  "summary": "Create A Subaccount",
                  "value": {
                    "mainAccountPayazaReference": "100000000",
                    "name": "Test Sub Account",
                    "currency": "NGN",
                    "country": "NGA"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subaccount creation successful",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/createASubAccountResponse"
                    }
                  ]
                },
                "examples": {
                  "transfer": {
                    "summary": "Create A Subaccount",
                    "value": {
                      "message": "New account created",
                      "status": true,
                      "data": [
                        {
                          "id": 1110,
                          "accountName": "Test Sub Account",
                          "accountStatus": "ACTIVE",
                          "accountBalance": 0,
                          "escrowBalance": 0,
                          "businessFk": 11407,
                          "currency": "NGN",
                          "owner": "PAYAZA",
                          "country": "NGA",
                          "creationReference": "DC625576B5BF426A94CB6B1D868C0",
                          "actionStatus": "ACTIVE",
                          "payazaAccountReference": "2010000120",
                          "pnc": false,
                          "pnd": false,
                          "virtualAccounts": [
                            {
                              "accountNumber": "9977719429",
                              "accountName": "MERCHANT(Test Sub Account)",
                              "bankCode": "000023"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          }
        }
      }
    },
    "/payaza-account/api/v1/subaccounts/merchant/enquiry/{payazaSubAccountReference}": {
      "get": {
        "tags": ["Sub Accounts"],
        "summary": "View Payaza Sub Account Details",
        "description": "This endpoint returns the Payaza subaccount details. ",
        "security": [
          {
            "ApiKeyAuth": ["Payaza {{Public API Key In Base64}}"],
            "TenantID": ["test or live"]
          }
        ],
        "parameters": [
          {
            "name": "payazaSubAccountReference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier given to a particular transaction"
          }
        ],

        "responses": {
          "200": {
            "description": "Payment successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/viewPayazaSubAccountDetailsResponse"
                },
                "examples": {
                  "View Payaza Sub Account Details": {
                    "summary": "View Payaza Sub Account Details",
                    "value": {
                      "message": "New account created",
                      "status": true,
                      "data": [
                        {
                          "id": 1110,
                          "accountName": "Test Sub Account",
                          "accountStatus": "ACTIVE",
                          "accountBalance": 0,
                          "escrowBalance": 0,
                          "businessFk": 11407,
                          "currency": "NGN",
                          "owner": "PAYAZA",
                          "country": "NGA",
                          "creationReference": "DC625576B5BF426A94CB6B1D868C0",
                          "actionStatus": "ACTIVE",
                          "payazaAccountReference": "2010000120",
                          "pnc": false,
                          "pnd": false,
                          "virtualAccounts": [
                            {
                              "accountNumber": "9977719429",
                              "accountName": "MERCHANT(Test Sub Account)",
                              "bankCode": "000023"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Payment failed" }
        }
      }
    },
    "/payaza-account/api/v1/subaccounts/merchant/euro/request": {
      "post": {
        "tags": ["EUR Transfers"],
        "summary": "Request Corporate and User sub-account",
        "description": "This endpoint allows users to create a corporate or user sub-account",
        "security": [
          {
            "ApiKeyAuth": ["Payaza {{Public API Key In Base64}}"],
            "TenantID": ["test or live"]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/corporateSubAccountRequest" },
                  { "$ref": "#/components/schemas/userSubAccountRequest" }
                ]
              },
              "examples": {
                "Corporate Sub Account": {
                  "summary": "Corporate Account Request",
                  "value": {
                    "country": "NG",
                    "purpose": "test purposes",
                    "currency": "EUR",
                    "category": "SUB_ACCOUNT",
                    "certificate_of_incorporation": "https://payaza-assets.s3.amazonaws.com/development/1737370134640-number2.png",
                    "mermat": "https://payaza-assets.s3.amazonaws.com/development/1737370128708-number1.jpg",
                    "consent": true,
                    "account_type": "corporate",
                    "main_account_payaza_reference": "10987654312",
                    "company_name": "Steve Stones Plc",
                    "directors": [
                      {
                        "id_file": "https://payaza-assets.s3.amazonaws.com/development/1737370156723-number3.jpg",
                        "id_type": "passport",
                        "poa_file": "https://payaza-assets.s3.amazonaws.com/development/1737370165810-number4.jpg",
                        "poa_type": "utilityBill"
                      },
                      {
                        "id_file": "https://payaza-assets.s3.amazonaws.com/development/1737370156723-number3.jpg",
                        "id_type": "passport",
                        "poa_file": "https://payaza-assets.s3.amazonaws.com/development/1737370165810-number4.jpg",
                        "poa_type": "utilityBill"
                      }
                    ],
                    "shareholders": [
                      {
                        "id_file": "https://payaza-assets.s3.amazonaws.com/development/1737370178824-number5.jpg",
                        "id_type": "passport",
                        "poa_file": "https://payaza-assets.s3.amazonaws.com/development/1737370187160-number6.png",
                        "poa_type": "utilityBill"
                      },
                      {
                        "id_file": "https://payaza-assets.s3.amazonaws.com/development/1737370178824-number5.jpg",
                        "id_type": "passport",
                        "poa_file": "https://payaza-assets.s3.amazonaws.com/development/1737370187160-number6.png",
                        "poa_type": "utilityBill"
                      },
                      {
                        "id_file": "https://payaza-assets.s3.amazonaws.com/development/1737370178824-number5.jpg",
                        "id_type": "passport",
                        "poa_file": "https://payaza-assets.s3.amazonaws.com/development/1737370187160-number6.png",
                        "poa_type": "utilityBill"
                      }
                    ]
                  }
                },
                "User Sub Account": {
                  "summary": "User Account Request",
                  "value": {
                    "country": "US",
                    "currency": "EUR",
                    "category": "SUB_ACCOUNT",
                    "purpose": "Sit consequuntur co",
                    "consent": "true",
                    "account_type": "user",
                    "main_account_payaza_reference": "10987654312",
                    "id_file": "https://payaza-assets.s3.amazonaws.com/development/1737369951133-number1.jpg",
                    "id_type": "passport",
                    "poa_file": "https://payaza-assets.s3.amazonaws.com/development/1737369961250-number2.png",
                    "poa_type": "utilityBill",
                    "first_name": "Steve",
                    "last_name": "Stones"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sub-account requested",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/requestSubAccountResponse" }
                  ]
                },
                "examples": {
                  "response": {
                    "summary": "Success Response",
                    "value": {
                      "message": "EUR Account request has been submitted for review.",
                      "status": true,
                      "creationReference": "ac456ecb-7870-47d4-af23-2dde8563235f"
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid request" }
        }
      }
    },
    "/payaza-account/api/v1/subaccounts/merchant/euro/request?category=SUB_ACCOUNT": {
      "get": {
        "tags": ["EUR Transfers"],
        "summary": "Get All EUR Account Request",
        "description": "This endpoint fetches all the Euro account requests.",
        "security": [
          {
            "ApiKeyAuth": ["Payaza {{Public API Key In Base64}}"],
            "TenantID": ["test or live"]
          }
        ],
        "responses": {
          "200": {
            "description": "Get All EUR Account Request Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getAllEurAccountRequestResponse"
                },
                "examples": {
                  "Get All EUR Account Request": {
                    "summary": "Get All EUR Account Request",
                    "value": {
                      "message": "Fetch Euro Accounts Requests",
                      "status": true,
                      "data": [
                        {
                          "id": 2278,
                          "country": "USA",
                          "currency": "EUR",
                          "directors": [
                            {
                              "id_file": "https://stevestones.com/docs/1737370156723-passport.jpeg",
                              "id_file_back": "https://stevestones.com/docs/1737370156723-passport.jpeg",
                              "id_type": "passport",
                              "poa_file": "https://stevestones.com/docs/17373701573833-utilitybill.png",
                              "poa_type": "utilityBill"
                            }
                          ],
                          "shareholders": [
                            {
                              "id_file": "https://stevestones.com/docs/1737370156723-passport.jpeg",
                              "id_file_back": "https://stevestones.com/docs/1737370156723-passport.jpeg",
                              "id_type": "passport",
                              "poa_file": "https://stevestones.com/docs/17373701573833-utilitybill.png",
                              "poa_type": "utilityBill"
                            }
                          ],
                          "mermat": "https://stevestones.com/docs/17373701569821-mermat.png",
                          "status": "ADMIN_PENDING",
                          "category": "SUB_ACCOUNT",
                          "purpose": "Business Expansion",
                          "creationReference": "e2ba38e0-485d-4ce8-bb8a-96c99ed10ebd",
                          "account_type": "corporate",
                          "business_fk": 3242,
                          "business_name": "link",
                          "company_name": "Personal Loan Account",
                          "certificate_of_incorporation": "https://stevestones.com/docs/1737370156723-coi.jpg",
                          "created_at": "2025-02-03T15:14:07.657648",
                          "country_2_iso": "US"
                        },
                        {
                          "id": 1057,
                          "country": "MLI",
                          "currency": "EUR",
                          "status": "PROVIDER_CREATED",
                          "category": "SUB_ACCOUNT",
                          "account_type": "user",
                          "user_kyc": [
                            {
                              "id_file": "https://stevestones.com/docs/1737370156723-passport.jpeg",
                              "id_file_back": "https://stevestones.com/docs/1737370156723-passport.jpeg",
                              "id_type": "passport",
                              "poa_file": "https://stevestones.com/docs/17373701573833-utilitybill.png",
                              "poa_type": "utilityBill"
                            }
                          ],
                          "provider_request_reference": "51825990-2d68-468e-9a8b-0a55b59da264",
                          "first_name": "Steve",
                          "last_name": "Stones",
                          "created_at": "2024-12-18T16:48:38.253599",
                          "country_2_iso": "ML"
                        }
                      ],
                      "pageDetail": {
                        "sorted": true,
                        "pageNumber": 1,
                        "pageSize": 10,
                        "paged": true,
                        "totalPages": 1,
                        "totalElements": 2,
                        "last": true,
                        "size": 10,
                        "number": 0,
                        "numberOfElements": 2,
                        "offset": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Payment failed"
          }
        }
      }
    }
  }
}
