{
  "openapi": "3.0.1",
  "info": {
    "title": "Payaza Documentation",
    "version": "2.0.0",
    "description": "API reference for processing payments using Card, Bank Transfer, USSD, and QR Code methods."
  },
  "servers": [
    {
      "url": "https://api.payaza.africa/live"
    }
  ],
  "tags": [
    {
      "name": "Transfers",
      "description": "Transfers are transactions made from your Payaza account to beneficiaries. Merchants can instantly transfer funds from their available balance. For every transfer, you need to specify the amount and the beneficiary’s details. You become eligible to make transfers after you have been verified. (you sign up, finish account activation and KYC verification)."
    },
    {
      "name": "Payaza Account",
      "description": "This is our internal account that can be used to make payouts to other bank accounts, in single or in bulk. The Payaza account can also be used to receive settlements. It can also be used to track the transfer status of your transactions and check your balance instantly"
    },
    {
      "name": "Sub Accounts",
      "description": "This enables you to establish Sub Payaza accounts for your customers. Each sub-account comes with an assigned static virtual account, facilitating direct funding for individual accounts. Furthermore, the Main Payaza account can directly initiate funding for each sub-account. These sub-accounts serve the purpose of managing unique account positions or balances and facilitating disbursements from these positions to specified beneficiaries."
    },

    {
      "name": "EUR Accounts",
      "description": "This endpoints enable you to create EUR subaccounts which can be used to make transfers as required ."
    },
    {
      "name": "Apple Pay and Google Pay",
      "description": "Apple Pay and Google Pay give your customers a fast, familiar, and secure way to complete payments. Our APIs provide a gateway to provide these services to your users for a smooth payment experience."
    },
    {
      "name": "Virtual Accounts",
      "description": "Virtual Accounts are bank accounts that are created for a specific purpose and last for specified durations. Virtual accounts are issued by Payaza’s partner banks. Our virtual account APIs can be used to create virtual accounts and perform other tasks relevant to virtual accounts. Virtual accounts are created to foster easy payment collections for your business and platform. \nStatic/Reserved Account: This virtual account is created by the merchant and remains valid indefinitely. It can be used multiple times and does not expire. \nDynamic Account: This virtual account is generated for a specific transaction or purpose. Please note that dynamic virtual account remains valid for a temporary period of time or until a payment of the specified amount is received. Upon expiry, a merchant can generate another one for a different purpose."
    },
    {
      "name": "Card Collection",
      "description": "The Card Collection APIs can be used to make card transactions, refund transactions that have been performed, check the status of a transaction and so much more."
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Payaza {{Public API Key in Base 64}}"
      },
      "TenantID": {
        "type": "apiKey",
        "in": "header",
        "name": "X-TenantID",
        "description": "live or test"
      },
      "ProductID": {
        "type": "apiKey",
        "in": "header",
        "name": "X-ProductID",
        "description": "default value is ‟app” "
      }
    },
    "schemas": {
      "initiateATransferRequest": {
        "title": "Initiate A Transfer",
        "type": "object",
        "required": ["transaction_type", "service_payload"],
        "properties": {
          "transaction_type": {
            "type": "string",
            "description": "The type of account being transferred to.(Default is NGN). \nNGN == “nuban”, \nGHS == “mobile_money” or “ghipps”, \nUGX == “mobile_money” ,\nTZS == “mobile_money” or “tiss”, \nKES == “mobile_money” or “kepss”, \nXOF == “mobile_money” or “wave”, \nXAF == “mobile_money”, \nZAR == “RTC”",
            "example": "nuban"
          },
          "service_payload": {
            "type": "object",
            "description": "It contains the details of the service payload.",
            "required": [
              "payout_amount",
              "transaction_pin",
              "account_reference",
              "currency",
              "payout_beneficiaries"
            ],
            "properties": {
              "payout_amount": {
                "type": "number",
                "format": "double",
                "description": "The amount of the transaction.",
                "example": 100
              },
              "transaction_pin": {
                "type": "integer",
                "description": "This is the merchant's unique transaction PIN",
                "example": 198731
              },
              "account_reference": {
                "type": "string",
                "description": "The reference of the Payaza account. Please be advised that your Payaza Account possesses unique account references corresponding to each currency utilized.(This is available in the **“View Payaza Account Details”** API response body).",
                "example": "1010000009"
              },
              "currency": {
                "type": "string",
                "description": "The transfer currency code.e.g. NGN, GHS, TZS, UGX, KES, XAF, ZAR.",
                "example": "NGN"
              },
              "country": {
                "type": "string",
                "description": "The ISO 3166-1 alpha-3 country code e.g. BEN,CIV,CMR. This is required for XOF payouts",
                "example": "NGA"
              },
              "payout_beneficiaries": {
                "type": "array",
                "description": "It contains the details of the payout beneficiaries",
                "items": {
                  "type": "object",
                  "required": [
                    "credit_amount",
                    "account_number",
                    "account_name",
                    "bank_code",
                    "narration",
                    "transaction_reference",
                    "sender"
                  ],
                  "properties": {
                    "credit_amount": {
                      "type": "number",
                      "format": "double",
                      "description": "The amount to be credited to this particular beneficiary.",
                      "example": 100
                    },
                    "account_number": {
                      "type": "string",
                      "description": "This is the account number of the beneficiary. \nFor “nuban” transfer == 10 digits \nFor “kepss” transfer == 10 digits \nFor “mobile_money” == 12 digits for GHA, TZA, UGA, KEN, CMR and 13 digits for CIV, BEN (starting with the 3-digit country code) \ne,g.Ghana = 233xxxxxxxxx,\nKenya = 254xxxxxxxxx, \nUganda = 256xxxxxxxxx, \nTanzania = 255xxxxxxxxx, \nCameroon = 237xxxxxxxxx, \nBenin = 229(01)xxxxxxxx, \nCote D'ivoire = 225xxxxxxxxxx, etc..",
                      "example": "9207067319"
                    },
                    "account_name": {
                      "type": "string",
                      "description": "This is the name of the beneficiary for the transfer.",
                      "example": "John Doe"
                    },
                    "bank_code": {
                      "type": "string",
                      "description": "This is the beneficiary's bank code.",
                      "example": "000013"
                    },
                    "narration": {
                      "type": "string",
                      "description": "Narration for the payout (This must be 25 characters or less with no special characters).",
                      "example": "Test Payment"
                    },
                    "transaction_reference": {
                      "type": "string",
                      "description": "This is the unique identifier generated for each transaction by the merchant.",
                      "example": "TD93001234"
                    },
                    "sender": {
                      "type": "object",
                      "description": "It contains the details of the sender.",
                      "required": [
                        "sender_name",
                        "sender_phone_number",
                        "sender_address"
                      ],
                      "properties": {
                        "sender_name": {
                          "type": "string",
                          "description": "Name of the sender.",
                          "example": "Jane Doe"
                        },
                        "sender_id": {
                          "type": "string",
                          "description": "Unique ID of sender.",
                          "example": ""
                        },
                        "sender_phone_number": {
                          "type": "string",
                          "description": "Phone number of the sender.",
                          "example": "01234595"
                        },
                        "sender_address": {
                          "type": "string",
                          "description": "Address of the sender.",
                          "example": "123, Ace Street"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "getAccountNameEnquiryRequest": {
        "title": "Get Account Name Enquiry",
        "type": "object",
        "properties": {
          "service_payload": {
            "type": "object",
            "description": "It contains the details of the service payload.",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency code (e.g., NGN)",
                "example": "NGN"
              },
              "bank_code": {
                "type": "string",
                "description": "The unique code of the bank",
                "example": "100004"
              },
              "account_number": {
                "type": "string",
                "description": "The customer's account number",
                "example": "800109013"
              }
            },
            "required": ["currency", "bank_code", "account_number"]
          }
        }
      },
      "createASubAccountRequest": {
        "title": "Create A Sub Account request",
        "type": "object",
        "required": [
          "mainAccountPayazaReference",
          "name",
          "currency",
          "country"
        ],
        "properties": {
          "mainAccountPayazaReference": {
            "type": "string",
            "description": "The Account reference of the main Payaza account.",
            "example": "100000000"
          },
          "name": {
            "type": "string",
            "description": "The name of the sub-account being created.",
            "example": "Test Sub Account"
          },
          "currency": {
            "type": "string",
            "description": "The currency code.",
            "example": "NGN"
          },
          "country": {
            "type": "string",
            "description": "The country code in ISO 3166-1 alpha-3 format (e.g., NGA).",
            "example": "NGA"
          }
        }
      },
      "corporateSubAccountRequest": {
        "title": "Request Corporate Subaccount",
        "type": "object",
        "required": [
          "country",
          "purpose",
          "currency",
          "category",
          "account_type",
          "company_name",
          "main_account_payaza_reference",
          "certificate_of_incorporation",
          "consent",
          "directors"
        ],
        "properties": {
          "country": {
            "type": "string",
            "description": "The 2-letter ISO country code (e.g.US.)",
            "example": "US"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose for opening the account.",
            "example": "test purposes"
          },
          "currency": {
            "type": "string",
            "description": "The currency code e.g. **EUR**.",
            "example": "EUR"
          },
          "category": {
            "type": "string",
            "description": "The category of the account.",
            "example": "SUB_ACCOUNT"
          },
          "certificate_of_incorporation": {
            "type": "string",
            "format": "uri",
            "description": "URL link to the certificate of incorporation.",
            "example": "https://payaza-assets.s3.amazonaws.com/development/cert.png"
          },
          "mermat": {
            "type": "string",
            "format": "uri",
            "description": "URL link to company memorandum and articles of association.",
            "example": "https://payaza-assets.s3.amazonaws.com/development/mermat.jpg"
          },
          "consent": {
            "type": "boolean",
            "description": "Whether the company consents to the account request.",
            "example": true
          },
          "account_type": {
            "type": "string",
            "description": "Type of account **(corporate)**.",
            "example": "corporate"
          },
          "main_account_payaza_reference": {
            "type": "string",
            "description": "The main Payaza account reference number.",
            "example": "10987654312"
          },
          "company_name": {
            "type": "string",
            "description": "The registered company name.",
            "example": "Steve Stones Plc"
          },
          "directors": {
            "type": "array",
            "description": "List of directors with identification and proof of address.",
            "items": {
              "type": "object",
              "required": ["id_file", "id_type", "poa_file", "poa_type"],
              "properties": {
                "id_file": {
                  "type": "string",
                  "format": "uri",
                  "description": "URL to the director's ID document.",
                  "example": "https://payaza-assets.s3.amazonaws.com/development/id1.jpg"
                },
                "id_type": {
                  "type": "string",
                  "description": "Type of ID provided (e.g., passport).",
                  "example": "passport"
                },
                "poa_file": {
                  "type": "string",
                  "format": "uri",
                  "description": "URL to the Proof of Address document.",
                  "example": "https://payaza-assets.s3.amazonaws.com/development/poa1.jpg"
                },
                "poa_type": {
                  "type": "string",
                  "description": "Type of POA provided (e.g., utilityBill).",
                  "example": "utilityBill"
                }
              }
            }
          },
          "shareholders": {
            "type": "array",
            "description": "List of company shareholders (Optional).",
            "items": {
              "type": "object",
              "required": ["id_file", "id_type", "poa_file", "poa_type"],
              "properties": {
                "id_file": {
                  "type": "string",
                  "format": "uri",
                  "description": "URL to the shareholder's ID document.",
                  "example": "https://payaza-assets.s3.amazonaws.com/development/id2.jpg"
                },
                "id_type": {
                  "type": "string",
                  "description": "Type of ID provided.",
                  "example": "passport"
                },
                "poa_file": {
                  "type": "string",
                  "format": "uri",
                  "description": "URL to the shareholder's Proof of Address.",
                  "example": "https://payaza-assets.s3.amazonaws.com/development/poa2.png"
                },
                "poa_type": {
                  "type": "string",
                  "description": "Type of POA provided.",
                  "example": "utilityBill"
                }
              }
            }
          }
        }
      },
      "userSubAccountRequest": {
        "title": "Request User Sub-account Request",
        "type": "object",
        "required": [
          "country",
          "currency",
          "category",
          "purpose",
          "consent",
          "account_type",
          "main_account_payaza_reference",
          "id_file",
          "id_type",
          "poa_file",
          "first_name",
          "last_name"
        ],
        "properties": {
          "country": {
            "type": "string",
            "description": "The country ISO code **(e.g. US)**",
            "example": "US"
          },
          "currency": {
            "type": "string",
            "description": "The currency code **(e.g. EUR)**.",
            "example": "EUR"
          },
          "category": {
            "type": "string",
            "description": "The category of the account.",
            "example": "SUB_ACCOUNT"
          },
          "purpose": {
            "type": "string",
            "description": "Purpose of account.",
            "example": "Testing"
          },
          "consent": {
            "type": "boolean",
            "description": "Consent confirmation.",
            "example": "true"
          },
          "account_type": {
            "type": "string",
            "description": "Type of account (**user**).",
            "example": "user"
          },
          "main_account_payaza_reference": {
            "type": "string",
            "description": "The main Payaza account reference.",
            "example": "10987654312"
          },
          "id_file": {
            "type": "string",
            "format": "uri",
            "description": "URL link to the user's ID document.",
            "example": "https://payaza-assets.s3.amazonaws.com/development/id.jpg"
          },
          "id_type": {
            "type": "string",
            "description": "User’s ID type (**passport** or **identityCard**)..",
            "example": "passport"
          },
          "poa_file": {
            "type": "string",
            "format": "uri",
            "description": "URL link to the Proof of Address document.",
            "example": "https://payaza-assets.s3.amazonaws.com/development/poa.png"
          },
          "poa_type": {
            "type": "string",
            "description": "Type of proof of address (e.g. utilityBill)",
            "example": "utilityBill"
          },
          "first_name": {
            "type": "string",
            "description": "First name of the user.",
            "example": "Steve"
          },
          "last_name": {
            "type": "string",
            "description": "Last name of the user.",
            "example": "Stones"
          }
        }
      },
      "fetchAllEurSubAccountsRequest": {
        "title": "Fetch All Euro SubAccounts Request",
        "type": "object",
        "properties": {
          "pageSize": {
            "type": "integer",
            "description": "The number of items to return per page.",
            "example": 10
          },
          "pageNumber": {
            "type": "integer",
            "description": "The current page number to retrieve.",
            "example": 1
          },
          "currency": {
            "type": "string",
            "description": "The currency filter for the accounts.",
            "example": "EUR"
          },
          "searchPhrase": {
            "type": "string",
            "description": "Optional search term to filter results.",
            "example": ""
          }
        },
        "required": ["pageSize", "pageNumber", "currency"]
      },
      "initiateAEurTransferRequest": {
        "title": "Initiate A EUR Transfer",
        "type": "object",
        "required": ["transaction_type", "service_payload"],
        "properties": {
          "transaction_type": {
            "type": "string",
            "description": "The type of account being transferred to. **EUR** == “sepa”.",
            "example": "sepa"
          },
          "service_payload": {
            "type": "object",
            "description": "It contains the details of the service payload.",
            "required": [
              "payout_amount",
              "transaction_pin",
              "account_reference",
              "currency",
              "payout_beneficiaries"
            ],
            "properties": {
              "payout_amount": {
                "type": "number",
                "description": "The amount of the transaction.",
                "example": 300
              },
              "transaction_pin": {
                "type": "integer",
                "description": "This is the merchant's unique transaction pin.",
                "example": 198731
              },
              "account_reference": {
                "type": "string",
                "description": "The reference of the Payaza account. Please be advised that your Payaza Account possesses unique account references corresponding to each currency utilized.(This is available in the **“View Payaza Account Details”** API response body).",
                "example": "88980086362"
              },
              "country": {
                "type": "string",
                "description": "The country code..",
                "example": "NGA"
              },
              "currency": {
                "type": "string",
                "description": "The currency code.",
                "example": "EUR"
              },
              "payout_beneficiaries": {
                "type": "array",
                "description": "It contains the details of the payout beneficiaries.",
                "items": {
                  "type": "object",
                  "required": [
                    "destination_country",
                    "bank_name",
                    "credit_amount",
                    "account_number",
                    "account_name",
                    "bank_code",
                    "narration",
                    "transaction_reference",
                    "sender"
                  ],
                  "properties": {
                    "destination_country": {
                      "type": "string",
                      "description": "The beneficiary's country code.",
                      "example": "NGA"
                    },
                    "bank_name": {
                      "type": "string",
                      "description": "The name of the beneficiary's bank.",
                      "example": "Prune"
                    },
                    "credit_amount": {
                      "type": "number",
                      "description": "The amount to be credited to this particular beneficiary.",
                      "example": 300
                    },
                    "account_number": {
                      "type": "string",
                      "description": "This is the account number of the beneficiary.",
                      "example": "8185003687"
                    },
                    "account_name": {
                      "type": "string",
                      "description": "This is the name of the beneficiary for the transfer.",
                      "example": "John Doe"
                    },
                    "bank_code": {
                      "type": "string",
                      "description": "This is the beneficiary's bank code. It would be in the format of a SWIFT/BIC number. It would be in the format AAAABBCC123 i.e. \nAAAA = **4 Letters representing the bank**, \nBB = **2 Letters representing the country code the bank is in**, \nCC= **2 characters showing the location code**, \n123= **3 Digits specifying a particular branch, 'XXX' represents the Bank's Head Office**.",
                      "example": "ARPYGB21XXX"
                    },
                    "narration": {
                      "type": "string",
                      "description": "Narration for the payout (This must be 25 characters or less with no special characters).",
                      "example": "Test"
                    },
                    "transaction_reference": {
                      "type": "string",
                      "description": "This is the unique identifier generated for each transaction by the merchant.",
                      "example": "TDd9frfk"
                    },
                    "sender": {
                      "type": "object",
                      "description": "Details of the sender.",
                      "required": [
                        "sender_name",
                        "sender_phone_number",
                        "sender_address"
                      ],
                      "properties": {
                        "sender_name": {
                          "type": "string",
                          "description": "The name of the sender",
                          "example": "Jane Doe"
                        },
                        "sender_id": {
                          "type": "string",
                          "description": "The unique identifier of the sender",
                          "example": "32"
                        },
                        "sender_phone_number": {
                          "type": "string",
                          "description": "The phone number of the sender",
                          "example": "0124595"
                        },
                        "sender_address": {
                          "type": "string",
                          "description": "The sender's address",
                          "example": "123, Ace Street"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "initiatePaymentRequest": {
        "title": "Initiate Payment Request",
        "type": "object",
        "required": [
          "amount",
          "first_name",
          "last_name",
          "payment_option",
          "description",
          "transaction_reference",
          "redirect_url",
          "cancel_url",
          "error_url",
          "country_code",
          "currency_code"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount to be charged.",
            "example": 2
          },
          "first_name": {
            "type": "string",
            "description": "The customer's first name.",
            "example": "John"
          },
          "last_name": {
            "type": "string",
            "description": "The customer's last name..",
            "example": "Doe"
          },
          "payment_option": {
            "type": "string",
            "description": "**APPLEPAY** or **GOOGLEPAY**.",
            "example": "GOOGLEPAY"
          },
          "description": {
            "type": "string",
            "description": "The description of this transaction.",
            "example": "Support"
          },
          "transaction_reference": {
            "type": "string",
            "description": "The unique identifier of this transaction.",
            "example": "TX20251109"
          },
          "redirect_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect on successsful.",
            "example": "https://redirect.url/success"
          },
          "cancel_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect when user cancels.",
            "example": "https://redirect.url/cancel"
          },
          "error_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect on failed payment.",
            "example": "https://redirect.url/error"
          },
          "country_code": {
            "type": "string",
            "description": "The country code. (ISO 3166-1 alpha-3).",
            "example": "NGN"
          },
          "currency_code": {
            "type": "string",
            "description": "**GBP**, **EUR** and **USD**.",
            "example": "USD"
          }
        }
      },
      "createDynamicAccountRequest": {
        "title": "Create Dynamic Virtual Account Request",
        "type": "object",
        "required": [
          "account_name",
          "account_type",
          "bank_code",
          "account_reference",
          "customer_first_name",
          "customer_last_name",
          "customer_email",
          "transaction_amount"
        ],
        "properties": {
          "account_name": {
            "type": "string",
            "description": "The name assigned to the virtual account being created.",
            "example": "Test DVA"
          },
          "account_type": {
            "type": "string",
            "description": "Type of virtual account. **“Dynamic‶** is the default value",
            "example": "Dynamic"
          },
          "bank_code": {
            "type": "string",
            "description": "The code of the bank providing the virtual account. \n**“1067‶** for 78 FINANCE COMPANY LIMITED, \n**“117‶** for FIDELITY BANK LIMITED, \n **“140‶** for GLOBUS BANK LIMITED.",
            "example": "1067"
          },
          "bvn": {
            "type": "string",
            "description": "Bank Verification Number (BVN) of the customer.",
            "example": ""
          },
          "has_amount_validation": {
            "type": "string",
            "description": "This is used to give control on amount validation for virtual accounts being created i.e. allow underpayment or overpayment or exact amounts. \nThis is only available for **GLOBUS BANK LIMITED** and **78 FINANCE COMPANY LIMITED**.",
            "example": "true"
          },
          "account_reference": {
            "type": "string",
            "description": "The unique identifier for the transaction..",
            "example": "Ref123456780"
          },
          "customer_first_name": {
            "type": "string",
            "description": "The first name of the customer.",
            "example": "John"
          },
          "customer_last_name": {
            "type": "string",
            "description": "The last name of the customer.",
            "example": "Doe"
          },
          "customer_email": {
            "type": "string",
            "format": "email",
            "description": "The customer's email address.",
            "example": "johndoe@gmail.com"
          },
          "customer_phone_number": {
            "type": "string",
            "description": "The customer's phone number.",
            "example": "07012345678"
          },
          "transaction_description": {
            "type": "string",
            "description": "The description or narration of the transaction.",
            "example": "Test Description"
          },
          "transaction_amount": {
            "type": "string",
            "description": "The amount to be paid in the transaction.",
            "example": "1000"
          },
          "expires_in_minutes": {
            "type": "string",
            "description": "The number of minutes for which the virtual account will be valid. The default is 30 minutes. Minimum: 15 minutes, Maximum: 480 minutes. \nThis is only available for **78 FINANCE COMPANY LIMITED**.",
            "example": "20"
          }
        }
      },
      "createReservedAccountRequest": {
        "title": "Create Static Virtual Account Request",
        "type": "object",
        "required": [
          "account_name",
          "account_type",
          "bank_code",
          "bvn",
          "bvn_validated",
          "account_reference",
          "customer_first_name",
          "customer_last_name",
          "customer_email"
        ],
        "properties": {
          "account_name": {
            "type": "string",
            "description": "The name assigned to the reserved account being created.",
            "example": "Test Reserved VA"
          },
          "account_type": {
            "type": "string",
            "description": "Type of virtual account. **“Static‶** is the default value",
            "example": "Static"
          },
          "bank_code": {
            "type": "string",
            "description": "The code of the bank providing the virtual account. \n**“1067‶** for 78 FINANCE COMPANY LIMITED \n**“117‶** for FIDELITY BANK LIMITED \n **“140‶** for GLOBUS BANK LIMITED.",
            "example": "1067"
          },
          "bvn": {
            "type": "string",
            "description": "Bank Verification Number (BVN) of the customer..",
            "example": "323212345"
          },
          "bvn_validated": {
            "type": "boolean",
            "description": "This indicates whether the BVN has been validated by the merchant.",
            "example": true
          },
          "account_reference": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "accRef123"
          },
          "customer_first_name": {
            "type": "string",
            "description": "The first name of the customer..",
            "example": "John"
          },
          "customer_last_name": {
            "type": "string",
            "description": "The last name of the customer..",
            "example": "Doe"
          },
          "customer_email": {
            "type": "string",
            "format": "email",
            "description": "The email address of the customer..",
            "example": "johndoe@gmail.com"
          },
          "customer_phone_number": {
            "type": "string",
            "description": "The phone number of the customer.",
            "example": "07012345678"
          }
        }
      },
      "fundTestVirtualAccountRequest": {
        "title": "Fund Test Virtual AccountRequest",
        "type": "object",
        "required": [
          "account_name",
          "account_number",
          "transaction_amount",
          "currency",
          "source_account_number",
          "source_account_name",
          "source_bank_name"
        ],
        "properties": {
          "account_name": {
            "type": "string",
            "description": "The name assigned to the virtual account.",
            "example": "Payaza(Test DVA)"
          },
          "account_number": {
            "type": "string",
            "description": "The virtual account number.",
            "example": "4030904675"
          },
          "initiation_transaction_reference": {
            "type": "string",
            "description": "**Required** (for Dynamic Virtual Account). The unique identifier for the transaction. This value is empty for reserved virtual accounts.",
            "example": "Ref1234567890"
          },
          "transaction_amount": {
            "type": "string",
            "description": "the amount to be paid.",
            "example": "1000"
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the collection. Value is ‟NGN”.",
            "example": "NGN"
          },
          "source_account_number": {
            "type": "string",
            "description": " The payer's account number.",
            "example": "0123456789"
          },
          "source_account_name": {
            "type": "string",
            "description": "The payer's account name.",
            "example": "Jill Stones"
          },
          "source_bank_name": {
            "type": "string",
            "description": "The payer's bank name.",
            "example": "Test Bank"
          }
        }
      },
      "cardChargeRequest": {
        "title": "Card Charge Request",
        "type": "object",
        "required": ["service_payload"],
        "properties": {
          "service_payload": {
            "type": "object",
            "description": "",
            "required": [
              "first_name",
              "last_name",
              "email_address",
              "phone_number",
              "amount",
              "transaction_reference",
              "currency",
              "description",
              "card"
            ],
            "properties": {
              "first_name": {
                "type": "string",
                "description": "The first name of the customer.",
                "example": "John"
              },
              "last_name": {
                "type": "string",
                "description": "The last name of the customer.",
                "example": "Doe"
              },
              "email_address": {
                "type": "string",
                "format": "email",
                "description": "The email address of the customer.",
                "example": "johndoe@hotmail.com"
              },
              "phone_number": {
                "type": "string",
                "description": "The phone number of the customer.",
                "example": "0939344401"
              },
              "amount": {
                "type": "number",
                "format": "double",
                "description": "The amount to be charged.",
                "example": 0.01
              },
              "transaction_reference": {
                "type": "string",
                "description": "The unique identifier given to a particular transaction. (Maximum character length is 15).",
                "example": "T13501973673737"
              },
              "currency": {
                "type": "string",
                "description": "Currency code for the transaction. The base currency is NGN",
                "example": "USD"
              },
              "description": {
                "type": "string",
                "description": "Description for the payment.",
                "example": "TEST"
              },
              "card": {
                "type": "object",
                "description": "The details of the card.",
                "required": [
                  "expiryMonth",
                  "expiryYear",
                  "securityCode",
                  "cardNumber"
                ],
                "properties": {
                  "expiryMonth": {
                    "type": "string",
                    "description": "The month the card will expire.",
                    "example": "10"
                  },
                  "expiryYear": {
                    "type": "string",
                    "description": "The year the card will expire",
                    "example": "26"
                  },
                  "securityCode": {
                    "type": "string",
                    "description": "CVV/CVC code.",
                    "example": "686"
                  },
                  "cardNumber": {
                    "type": "string",
                    "description": "The number on the card.",
                    "example": "4865550017193640"
                  }
                }
              },
              "callback_url": {
                "type": "string",
                "format": "uri",
                "description": "The callback URL provided by the merchant (Kindly ensure this accepts POST requests).",
                "example": "https://callbackurl.com"
              }
            }
          }
        }
      },
      "check3dsAvailabilityRequest": {
        "title": "Check 3DS Availability Request",
        "type": "object",
        "required": ["card_number", "currency"],
        "properties": {
          "card_number": {
            "type": "string",
            "description": "The number on the card.",
            "example": "4860079468120"
          },
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., NGN, USD).",
            "example": "NGN"
          }
        }
      },
      "checkTransactionStatusRequest": {
        "title": "Check Transaction Status Request",
        "type": "object",
        "required": ["service_payload"],
        "properties": {
          "service_payload": {
            "type": "object",
            "description": "Payload containing the transaction reference to query.",
            "required": ["transaction_reference"],
            "properties": {
              "transaction_reference": {
                "type": "string",
                "description": "The unique reference of the transaction you want to check.",
                "example": "A12345"
              }
            }
          }
        }
      },
      "checkRefundStatusRequest": {
        "title": "Check Refund Status Request",
        "type": "object",
        "required": ["service_payload"],
        "properties": {
          "service_payload": {
            "type": "object",
            "required": ["refund_transaction_reference"],
            "description": "It contains the details of the service payload.",
            "properties": {
              "refund_transaction_reference": {
                "type": "string",
                "description": "the unique identifier given to a particular transaction you refunded. This can be found in the response body of the “Initiate Refund API”.",
                "example": "RF20231112-Q232USD"
              }
            }
          }
        }
      },
      "TransactionStatusResponse": {
        "title": "Transaction Status Response",
        "type": "object",
        "properties": {
          "response_code": { "type": "string" },
          "transaction_reference": { "type": "string" },
          "transaction_amount": { "type": "string" },
          "transaction_fee": { "type": "string" },
          "transaction_status": { "type": "string" },
          "payer_name": { "type": "string" },
          "payer_account_number": { "type": "string" },
          "start_date": { "type": "string" },
          "end_date": { "type": "string" },
          "currency": { "type": "string" }
        }
      },
      "InitiateATransferResponse": {
        "title": "Transfer Response",
        "type": "object",
        "properties": {
          "response_code": { "type": "integer" },
          "response_message": { "type": "string" },
          "response_content": {
            "type": "object",
            "properties": {
              "transaction_status": { "type": "string" },
              "amount": { "type": "number" },
              "response_status": { "type": "string" }
            }
          }
        }
      },
      "getAccountNameEnquiryResponse": {
        "title": "Account Name Enquiry Response",
        "type": "object",
        "properties": {
          "response_code": { "type": "integer" },
          "response_message": { "type": "string" },
          "response_content": {
            "type": "object",
            "properties": {
              "account_number": { "type": "string" },
              "account_name": { "type": "string" },
              "bank_code": { "type": "string" },
              "account_status": { "type": "string" }
            }
          }
        }
      },
      "transactionStatusQueryResponse": {
        "title": "Transaction Status Query Response",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Response message.",
            "example": "Transaction fetched"
          },
          "status": {
            "type": "boolean",
            "description": "Request status.",
            "example": true
          },
          "retry_count": {
            "type": "integer",
            "description": "Number of retries attempted.",
            "example": 0
          },
          "data": {
            "type": "object",
            "description": "Transaction details.",
            "properties": {
              "transactionDateTime": {
                "type": "string",
                "format": "date-time",
                "description": "Date and time of the transaction.",
                "example": "2023-02-02T17:08:55.084673"
              },
              "transactionReference": {
                "type": "string",
                "description": "Unique transaction reference.",
                "example": "1242368116"
              },
              "creditAccount": {
                "type": "string",
                "description": "Account credited.",
                "example": "1023213616"
              },
              "bankCode": {
                "type": "string",
                "description": "Bank code of the beneficiary.",
                "example": "000004"
              },
              "beneficiaryName": {
                "type": "string",
                "description": "Name of the beneficiary.",
                "example": "WILSON JAMES"
              },
              "transactionAmount": {
                "type": "number",
                "format": "double",
                "description": "Amount transacted.",
                "example": 300
              },
              "fee": {
                "type": "number",
                "format": "double",
                "description": "Transaction fee.",
                "example": 10
              },
              "sessionId": {
                "type": "string",
                "description": "Session ID from the provider.",
                "example": "999999240902170916631388211854"
              },
              "transactionStatus": {
                "type": "string",
                "description": "Status of the transaction (e.g., NIP_SUCCESS).",
                "example": "NIP_SUCCESS"
              },
              "narration": {
                "type": "string",
                "description": "Transaction narration.",
                "example": "Remittance"
              },
              "transactionType": {
                "type": "string",
                "description": "Type of transaction (e.g., DEBIT).",
                "example": "DEBIT"
              },
              "responseMessage": {
                "type": "string",
                "description": "Detailed response message.",
                "example": "Approved or Completely Successful"
              },
              "responseCode": {
                "type": "string",
                "description": "Response code (00 indicates success).",
                "example": "00"
              },
              "currency": {
                "type": "string",
                "description": "Transaction currency.",
                "example": "NGN"
              },
              "balanceBefore": {
                "type": "number",
                "format": "double",
                "description": "Balance before transaction.",
                "example": 431.1
              },
              "balanceAfter": {
                "type": "number",
                "format": "double",
                "description": "Balance after transaction.",
                "example": 121.1
              },
              "duration": {
                "type": "object",
                "description": "Duration details (if any)."
              }
            }
          }
        }
      },
      "bankCodesResponse": {
        "title": "Bank Codes Response",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Response message."
          },
          "status": {
            "type": "boolean",
            "description": "Status of the request."
          },
          "retry_count": {
            "type": "integer",
            "description": "Number of retries."
          },
          "data": {
            "type": "array",
            "description": "List of available banks.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Unique ID of the bank."
                },
                "name": {
                  "type": "string",
                  "description": "Full name of the bank."
                },
                "avatar": {
                  "type": "string",
                  "description": "URL to the bank's logo."
                },
                "code": {
                  "type": "string",
                  "description": "Bank code."
                },
                "active": {
                  "type": "boolean",
                  "description": "Whether the bank is currently active."
                },
                "type": {
                  "type": "string",
                  "description": "Type of institution (e.g., mobile_money)."
                },
                "short_name": {
                  "type": "string",
                  "description": "Short name of the bank."
                },
                "sort_code": {
                  "type": "string",
                  "nullable": true,
                  "description": "Sort code (if applicable)."
                },
                "currency_code": {
                  "type": "string",
                  "description": "Currency supported."
                },
                "country_code": {
                  "type": "string",
                  "description": "Country code."
                },
                "block_transaction": {
                  "type": "boolean",
                  "description": "Whether transactions are blocked."
                }
              }
            }
          }
        }
      },
      "viewPayazaAccountDetailsResponse": {
        "title": "View Payaza Account Details",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Response message."
          },
          "status": {
            "type": "boolean",
            "description": "Request status."
          },
          "data": {
            "type": "array",
            "description": "List of Payaza accounts found.",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "integer" },
                "accountName": {
                  "type": "string",
                  "description": "The name of the Payaza Account"
                },
                "payazaAccountReference": {
                  "type": "string",
                  "description": "The Payaza Account Reference"
                },
                "status": { "type": "string" },
                "accountBalance": {
                  "type": "number",
                  "format": "double",
                  "description": "Current balance of the account."
                },
                "businessId": { "type": "integer" },
                "currency": { "type": "string" },
                "country": { "type": "string" },
                "organizationName": { "type": "string" },
                "productCode": { "type": "string" },
                "productNumber": { "type": "string" },
                "postNoCredit": { "type": "boolean" },
                "postNoDebit": { "type": "boolean" },
                "originatorName": {
                  "type": "string",
                  "nullable": true
                },
                "pauseTransactions": {
                  "type": "boolean",
                  "nullable": true
                },
                "hasVirtualAccounts": { "type": "boolean" },
                "holdTransactionAtLowBalance": { "type": "boolean" },
                "createdDate": {
                  "type": "string",
                  "format": "date-time"
                },
                "currencyCountry": {
                  "type": "string",
                  "nullable": true
                },
                "virtualAccounts": {
                  "type": "array",
                  "description": "List of virtual accounts linked to this main account.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "accountNumber": { "type": "string" },
                      "accountName": { "type": "string" },
                      "bankCode": { "type": "string" },
                      "bankId": { "type": "integer" },
                      "status": { "type": "string" },
                      "street": { "type": "string" },
                      "street2": { "type": "string" },
                      "city": { "type": "string" },
                      "countryCode": { "type": "string" },
                      "_api": { "type": "boolean" }
                    }
                  }
                }
              }
            }
          },
          "pageDetail": {
            "type": "object",
            "description": "Pagination details.",
            "properties": {
              "sorted": { "type": "boolean" },
              "pageNumber": { "type": "integer" },
              "pageSize": { "type": "integer" },
              "paged": { "type": "boolean" },
              "totalPages": { "type": "integer" },
              "totalElements": { "type": "integer" },
              "last": { "type": "boolean" },
              "size": { "type": "integer" },
              "number": { "type": "integer" },
              "numberOfElements": { "type": "integer" },
              "offset": {
                "type": "integer",
                "nullable": true
              }
            }
          },
          "totalCount": { "type": "integer" },
          "responseCode": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "createASubAccountResponse": {
        "title": "Create A Sub Account Response",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Response message.",
            "example": "New account created"
          },
          "status": {
            "type": "boolean",
            "description": "Request status.",
            "example": true
          },
          "data": {
            "type": "array",
            "description": "List containing the newly created account details.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Unique identifier for the sub-account.",
                  "example": 1110
                },
                "accountName": {
                  "type": "string",
                  "description": "Name of the sub-account.",
                  "example": "Test Sub Account"
                },
                "accountStatus": {
                  "type": "string",
                  "description": "Current status of the account (e.g., ACTIVE).",
                  "example": "ACTIVE"
                },
                "accountBalance": {
                  "type": "number",
                  "format": "double",
                  "description": "Current available balance.",
                  "example": 0
                },
                "escrowBalance": {
                  "type": "number",
                  "format": "double",
                  "description": "Balance currently in escrow.",
                  "example": 0
                },
                "businessFk": {
                  "type": "integer",
                  "description": "Foreign key linking to the main business entity.",
                  "example": 11407
                },
                "currency": {
                  "type": "string",
                  "description": "Currency code.",
                  "example": "NGN"
                },
                "owner": {
                  "type": "string",
                  "description": "Owner of the account.",
                  "example": "PAYAZA"
                },
                "country": {
                  "type": "string",
                  "description": "Country code.",
                  "example": "NGA"
                },
                "creationReference": {
                  "type": "string",
                  "description": "Unique reference generated upon creation.",
                  "example": "DC625576B5BF426A94CB6B1D868C0"
                },
                "actionStatus": {
                  "type": "string",
                  "description": "Action status.",
                  "example": "ACTIVE"
                },
                "payazaAccountReference": {
                  "type": "string",
                  "description": "The Payaza reference ID for this sub-account.",
                  "example": "2010000120"
                },
                "pnc": {
                  "type": "boolean",
                  "description": "Post No Credit status.",
                  "example": false
                },
                "pnd": {
                  "type": "boolean",
                  "description": "Post No Debit status.",
                  "example": false
                },
                "virtualAccounts": {
                  "type": "array",
                  "description": "List of virtual accounts attached to this sub-account.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "accountNumber": {
                        "type": "string",
                        "description": "Virtual account number.",
                        "example": "9977719429"
                      },
                      "accountName": {
                        "type": "string",
                        "description": "Name attached to the virtual account.",
                        "example": "MERCHANT(Test Sub Account)"
                      },
                      "bankCode": {
                        "type": "string",
                        "description": "Bank code for the virtual account.",
                        "example": "000023"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "viewPayazaSubAccountDetailsResponse": {
        "title": "View Sub Account Response",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Response message.",
            "example": "Account details fetched"
          },
          "status": {
            "type": "boolean",
            "description": "Request status.",
            "example": true
          },
          "data": {
            "type": "array",
            "description": "List containing the account details.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Unique identifier for the sub-account.",
                  "example": 1110
                },
                "accountName": {
                  "type": "string",
                  "description": "Name of the sub-account.",
                  "example": "Test Sub Account"
                },
                "accountStatus": {
                  "type": "string",
                  "description": "Current status of the account.",
                  "example": "ACTIVE"
                },
                "accountBalance": {
                  "type": "number",
                  "format": "double",
                  "description": "Current available balance.",
                  "example": 0
                },
                "escrowBalance": {
                  "type": "number",
                  "format": "double",
                  "description": "Balance currently in escrow.",
                  "example": 0
                },
                "businessFk": {
                  "type": "integer",
                  "description": "Foreign key linking to the main business.",
                  "example": 11407
                },
                "currency": {
                  "type": "string",
                  "description": "Currency code.",
                  "example": "NGN"
                },
                "owner": {
                  "type": "string",
                  "description": "Owner of the account.",
                  "example": "PAYAZA"
                },
                "country": {
                  "type": "string",
                  "description": "Country code.",
                  "example": "NGA"
                },
                "creationReference": {
                  "type": "string",
                  "description": "Unique creation reference.",
                  "example": "DC625576B5BF426A94CB6B1D868C0"
                },
                "actionStatus": {
                  "type": "string",
                  "description": "Action status.",
                  "example": "ACTIVE"
                },
                "payazaAccountReference": {
                  "type": "string",
                  "description": "Payaza reference ID.",
                  "example": "2010000120"
                },
                "pnc": {
                  "type": "boolean",
                  "description": "Post No Credit status.",
                  "example": false
                },
                "pnd": {
                  "type": "boolean",
                  "description": "Post No Debit status.",
                  "example": false
                },
                "virtualAccounts": {
                  "type": "array",
                  "description": "Virtual accounts linked to this sub-account.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "accountNumber": {
                        "type": "string",
                        "description": "Virtual account number.",
                        "example": "9977719429"
                      },
                      "accountName": {
                        "type": "string",
                        "description": "Virtual account name.",
                        "example": "MERCHANT(Test Sub Account)"
                      },
                      "bankCode": {
                        "type": "string",
                        "description": "Bank code.",
                        "example": "000023"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "requestSubAccountResponse": {
        "title": "Request Sub-account Request",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Response message.",
            "example": "EUR Account request has been submitted for review."
          },
          "status": {
            "type": "boolean",
            "description": "Request status.",
            "example": true
          },
          "creationReference": {
            "type": "string",
            "description": "Unique reference ID to track the status of the review.",
            "example": "ac456ecb-7870-47d4-af23-2dde8563235f"
          }
        }
      },
      "getAllEurAccountRequestResponse": {
        "title": "Get All EUR Account Request",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Response message.",
            "example": "Fetch Euro Accounts Requests"
          },
          "status": {
            "type": "boolean",
            "description": "Request status.",
            "example": true
          },
          "data": {
            "type": "array",
            "description": "List of account requests (Corporate or User).",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "integer", "example": 2278 },
                "country": { "type": "string", "example": "USA" },
                "currency": { "type": "string", "example": "EUR" },
                "status": { "type": "string", "example": "ADMIN_PENDING" },
                "category": { "type": "string", "example": "SUB_ACCOUNT" },
                "account_type": {
                  "type": "string",
                  "description": "Type of account ('corporate' or 'user').",
                  "example": "corporate"
                },
                "created_at": { "type": "string", "format": "date-time" },
                "country_2_iso": { "type": "string", "example": "US" },

                "company_name": {
                  "type": "string",
                  "description": "Corporate only."
                },
                "business_name": {
                  "type": "string",
                  "description": "Corporate only."
                },
                "business_fk": {
                  "type": "integer",
                  "description": "Corporate only."
                },
                "creationReference": { "type": "string" },
                "mermat": { "type": "string", "format": "uri" },
                "certificate_of_incorporation": {
                  "type": "string",
                  "format": "uri"
                },

                "first_name": {
                  "type": "string",
                  "description": "User account only."
                },
                "last_name": {
                  "type": "string",
                  "description": "User account only."
                },
                "provider_request_reference": { "type": "string" },

                "directors": {
                  "type": "array",
                  "description": "List of directors (Corporate only).",
                  "items": { "$ref": "#/components/schemas/KycDocument" }
                },
                "shareholders": {
                  "type": "array",
                  "description": "List of shareholders (Corporate only).",
                  "items": { "$ref": "#/components/schemas/KycDocument" }
                },
                "user_kyc": {
                  "type": "array",
                  "description": "KYC documents (User account only).",
                  "items": { "$ref": "#/components/schemas/KycDocument" }
                }
              }
            }
          },
          "pageDetail": {
            "type": "object",
            "properties": {
              "sorted": { "type": "boolean" },
              "pageNumber": { "type": "integer" },
              "pageSize": { "type": "integer" },
              "paged": { "type": "boolean" },
              "totalPages": { "type": "integer" },
              "totalElements": { "type": "integer" },
              "last": { "type": "boolean" },
              "size": { "type": "integer" },
              "number": { "type": "integer" },
              "numberOfElements": { "type": "integer" },
              "offset": { "type": "integer" }
            }
          }
        }
      },
      "getSingleEuroAccountCorporateResponse": {
        "title": "Get Single Euro Corporate Account Response",
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 2278 },
          "country": { "type": "string", "example": "USA" },
          "currency": { "type": "string", "example": "EUR" },
          "mermat": {
            "type": "string",
            "format": "uri",
            "description": "Link to Memorandum and Articles of Association."
          },
          "status": { "type": "string", "example": "ADMIN_PENDING" },
          "category": { "type": "string", "example": "SUB_ACCOUNT" },
          "purpose": { "type": "string", "example": "Business Expansion" },
          "creationReference": {
            "type": "string",
            "example": "e2ba38e0-485d-4ce8-bb8a-96c99ed10ebd"
          },
          "account_type": { "type": "string", "example": "corporate" },
          "business_fk": { "type": "integer", "example": 3242 },
          "business_name": { "type": "string", "example": "link" },
          "company_name": {
            "type": "string",
            "example": "JohnDoe Limited"
          },
          "certificate_of_incorporation": {
            "type": "string",
            "format": "uri",
            "description": "Link to Certificate of Incorporation."
          },
          "created_at": { "type": "string", "format": "date-time" },
          "country_2_iso": { "type": "string", "example": "US" },
          "directors": {
            "type": "array",
            "description": "List of company directors.",
            "items": { "$ref": "#/components/schemas/KycDocument" }
          },
          "shareholders": {
            "type": "array",
            "description": "List of company shareholders.",
            "items": { "$ref": "#/components/schemas/KycDocument" }
          }
        }
      },
      "kycDocument": {
        "title": "KYC Document Info",
        "type": "object",
        "properties": {
          "id_file": {
            "type": "string",
            "format": "uri",
            "description": "URL to the ID document."
          },
          "id_file_back": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to the back of the ID document (if applicable)."
          },
          "id_type": {
            "type": "string",
            "description": "Type of ID (e.g., passport).",
            "example": "passport"
          },
          "poa_file": {
            "type": "string",
            "format": "uri",
            "description": "URL to the Proof of Address."
          },
          "poa_type": {
            "type": "string",
            "description": "Type of POA (e.g., utilityBill).",
            "example": "utilityBill"
          }
        }
      },
      "getSingleEuroAccountIndividualResponse": {
        "title": "Get Single Euro Individual Account Response",
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 2147 },
          "country": { "type": "string", "example": "FRA" },
          "currency": { "type": "string", "example": "EUR" },
          "status": { "type": "string", "example": "PROVIDER_CREATED" },
          "category": { "type": "string", "example": "SUB_ACCOUNT" },
          "creationReference": {
            "type": "string",
            "example": "ac456ecb-7870-47d4-af23-2dde8563235f"
          },
          "account_type": { "type": "string", "example": "user" },
          "business_fk": { "type": "integer", "example": 2046 },
          "first_name": { "type": "string", "example": "Kianna" },
          "last_name": { "type": "string", "example": "Doyle" },
          "created_at": { "type": "string", "format": "date-time" },
          "country_2_iso": { "type": "string", "example": "FR" },
          "user_kyc": {
            "type": "array",
            "description": "KYC documents for the individual.",
            "items": { "$ref": "#/components/schemas/kycDocument" }
          }
        }
      },
      "listOfAcceptableIdsResponse": {
        "title": "Country Documents Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "description": "Request status.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Response message.",
            "example": "Country Documents"
          },
          "code": {
            "type": "integer",
            "description": "HTTP status code.",
            "example": 200
          },
          "data": {
            "type": "array",
            "description": "List of countries and their accepted document types.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Unique identifier for the country configuration.",
                  "example": "b362187b-47aa-41ff-8978-73d5893ea5fa"
                },
                "country": {
                  "type": "string",
                  "description": "Full name of the country (may include currency).",
                  "example": "Nigeria"
                },
                "countryShort": {
                  "type": "string",
                  "description": "ISO 2-character country code.",
                  "example": "NG"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true,
                  "description": "Timestamp of creation (if available)."
                },
                "acceptedIDDocuments": {
                  "type": "object",
                  "description": "Boolean flags indicating accepted identity documents.",
                  "properties": {
                    "passport": {
                      "type": "boolean",
                      "description": "Is Passport accepted?",
                      "example": true
                    },
                    "drivingLicense": {
                      "type": "boolean",
                      "description": "Is Driving License accepted?",
                      "example": true
                    },
                    "residencePermit": {
                      "type": "boolean",
                      "description": "Is Residence Permit accepted?",
                      "example": false
                    },
                    "identityCard": {
                      "type": "boolean",
                      "description": "Is National Identity Card accepted?",
                      "example": true
                    }
                  }
                },
                "acceptedPOADocuments": {
                  "type": "object",
                  "description": "Boolean flags indicating accepted Proof of Address documents.",
                  "properties": {
                    "utilityBill": {
                      "type": "boolean",
                      "description": "Is Utility Bill accepted?",
                      "example": true
                    },
                    "bankStatement": {
                      "type": "boolean",
                      "description": "Is Bank Statement accepted?",
                      "example": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "fetchAllEurSubAccountsResponse": {
        "title": "Fetch All Euro SubAccounts Response",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Response message.",
            "example": "Account enquiry response"
          },
          "status": {
            "type": "boolean",
            "description": "Request status.",
            "example": true
          },
          "data": {
            "type": "array",
            "description": "List of accounts found.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Unique account ID.",
                  "example": 3796
                },
                "accountName": {
                  "type": "string",
                  "description": "Name of the account holder.",
                  "example": "Zachery Borer"
                },
                "payazaAccountReference": {
                  "type": "string",
                  "description": "Unique Payaza reference for the account.",
                  "example": "80810030592"
                },
                "status": {
                  "type": "string",
                  "description": "Status of the account.",
                  "example": "ACTIVE"
                },
                "accountBalance": {
                  "type": "number",
                  "format": "double",
                  "description": "Current account balance.",
                  "example": 100000000
                },
                "businessId": {
                  "type": "integer",
                  "description": "ID of the business owning the account.",
                  "example": 2046
                },
                "currency": {
                  "type": "string",
                  "description": "Account currency.",
                  "example": "EUR"
                },
                "country": {
                  "type": "string",
                  "description": "Account country code.",
                  "example": "NGA"
                },
                "organizationName": {
                  "type": "string",
                  "description": "Organization name.",
                  "example": "PAYAZA"
                },
                "productCode": {
                  "type": "string",
                  "description": "Product code.",
                  "example": "PAYOUT-SUB-EUR"
                },
                "productNumber": {
                  "type": "string",
                  "description": "Product number.",
                  "example": "8899"
                },
                "postNoCredit": {
                  "type": "boolean",
                  "description": "Is credit posting restricted?",
                  "example": false
                },
                "postNoDebit": {
                  "type": "boolean",
                  "description": "Is debit posting restricted?",
                  "example": false
                },
                "hasVirtualAccounts": {
                  "type": "boolean",
                  "description": "Does this account have virtual accounts attached?",
                  "example": true
                },
                "virtualAccounts": {
                  "type": "array",
                  "description": "List of attached virtual accounts.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "accountNumber": {
                        "type": "string",
                        "description": "Virtual account number.",
                        "example": "GB00213143149028220528"
                      },
                      "accountName": {
                        "type": "string",
                        "description": "Name on the virtual account.",
                        "example": "Zachery Borer"
                      },
                      "bankCode": {
                        "type": "string",
                        "description": "Bank code for the virtual account.",
                        "example": "ARPYGB21XXX"
                      },
                      "bankId": {
                        "type": "integer",
                        "description": "Bank ID.",
                        "example": 793
                      }
                    }
                  }
                },
                "holdTransactionAtLowBalance": {
                  "type": "boolean",
                  "description": "Whether transactions are held if balance is low.",
                  "example": false
                },
                "createdDate": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Date the account was created.",
                  "example": "2025-03-11T00:01:21.113663"
                }
              }
            }
          },
          "responseCode": {
            "type": "string",
            "nullable": true,
            "description": "Response code (if applicable).",
            "example": null
          },
          "pageDetail": {
            "type": "object",
            "description": "Pagination details.",
            "properties": {
              "sorted": { "type": "boolean", "example": true },
              "pageNumber": { "type": "integer", "example": 1 },
              "pageSize": { "type": "integer", "example": 10 },
              "paged": { "type": "boolean", "example": true },
              "totalPages": { "type": "integer", "example": 2 },
              "totalElements": { "type": "integer", "example": 10 },
              "last": { "type": "boolean", "example": false },
              "size": { "type": "integer", "example": 10 },
              "number": { "type": "integer", "example": 0 },
              "numberOfElements": { "type": "integer", "example": 10 },
              "offset": { "type": "integer", "example": 0 }
            }
          }
        }
      },
      "fetchEuroWalletResponse": {
        "title": "Fetch Euro Wallet Response",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Response message.",
            "example": "Account enquiry response"
          },
          "status": {
            "type": "boolean",
            "description": "Request status.",
            "example": true
          },
          "data": {
            "type": "array",
            "description": "List of account details found.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Unique account ID.",
                  "example": 4258
                },
                "accountName": {
                  "type": "string",
                  "description": "Name of the account holder.",
                  "example": "Hessel - Nolan"
                },
                "payazaAccountReference": {
                  "type": "string",
                  "description": "Payaza's unique reference ID.",
                  "example": "80810031120"
                },
                "status": {
                  "type": "string",
                  "description": "Account status.",
                  "example": "ACTIVE"
                },
                "accountBalance": {
                  "type": "number",
                  "format": "double",
                  "description": "Current balance.",
                  "example": 100000000
                },
                "businessId": {
                  "type": "integer",
                  "description": "Associated business ID.",
                  "example": 2046
                },
                "currency": {
                  "type": "string",
                  "description": "Currency code.",
                  "example": "EUR"
                },
                "country": {
                  "type": "string",
                  "description": "Country code.",
                  "example": "NGA"
                },
                "organizationName": {
                  "type": "string",
                  "description": "Organization name.",
                  "example": "PAYAZA"
                },
                "productCode": {
                  "type": "string",
                  "description": "Product code.",
                  "example": "PAYOUT-SUB-EUR"
                },
                "productNumber": {
                  "type": "string",
                  "description": "Product number.",
                  "example": "8899"
                },
                "postNoCredit": {
                  "type": "boolean",
                  "description": "If true, credit transactions are blocked.",
                  "example": false
                },
                "postNoDebit": {
                  "type": "boolean",
                  "description": "If true, debit transactions are blocked.",
                  "example": false
                },
                "hasVirtualAccounts": {
                  "type": "boolean",
                  "description": "Indicates if virtual accounts are attached.",
                  "example": true
                },
                "virtualAccounts": {
                  "type": "array",
                  "description": "List of virtual accounts.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "accountNumber": {
                        "type": "string",
                        "description": "Virtual account number.",
                        "example": "GB08815367418119874451"
                      },
                      "accountName": {
                        "type": "string",
                        "description": "Name on the virtual account.",
                        "example": "Hessel - Nolan"
                      },
                      "bankCode": {
                        "type": "string",
                        "description": "Bank identifier code.",
                        "example": "ARPYGB21XXX"
                      },
                      "bankId": {
                        "type": "integer",
                        "description": "Bank ID.",
                        "example": 991
                      }
                    }
                  }
                },
                "holdTransactionAtLowBalance": {
                  "type": "boolean",
                  "description": "Hold transactions if balance is low.",
                  "example": false
                },
                "createdDate": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Account creation timestamp.",
                  "example": "2025-03-19T20:14:05.417817"
                }
              }
            }
          },
          "responseCode": {
            "type": "string",
            "nullable": true,
            "description": "Response code (can be null).",
            "example": null
          },
          "pageDetail": {
            "type": "object",
            "description": "Pagination details.",
            "properties": {
              "sorted": { "type": "boolean", "example": false },
              "pageNumber": { "type": "integer", "example": 0 },
              "pageSize": { "type": "integer", "example": 0 },
              "paged": { "type": "boolean", "example": false },
              "totalPages": { "type": "integer", "example": 0 },
              "totalElements": { "type": "integer", "example": 0 },
              "last": { "type": "boolean", "example": false },
              "size": { "type": "integer", "example": 0 },
              "number": { "type": "integer", "example": 0 },
              "numberOfElements": { "type": "integer", "example": 0 },
              "offset": { "type": "integer", "nullable": true, "example": null }
            }
          }
        }
      },
      "initiatePaymentResponse": {
        "title": "Initiate Payment Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "description": "Request status.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Response message.",
            "example": "payment initiated successfully"
          },
          "data": {
            "type": "object",
            "description": "Payment initialization details.",
            "properties": {
              "error_url": {
                "type": "string",
                "format": "uri",
                "description": "Redirect URL in case of error.",
                "example": "https://redirect.url/error"
              },
              "merchant_reference": {
                "type": "string",
                "description": "The merchant's unique reference for the transaction.",
                "example": "TX20251109"
              },
              "payment_option": {
                "type": "string",
                "description": "Selected payment method.",
                "example": "GOOGLEPAY"
              },
              "transaction_amount": {
                "type": "number",
                "description": "Amount to be charged.",
                "example": 2
              },
              "slug_name": {
                "type": "string",
                "description": "Slug identifier for the merchant or checkout page.",
                "example": "dev-guide-test"
              },
              "currency": {
                "type": "string",
                "description": "Currency code.",
                "example": "USD"
              },
              "paymentUrl": {
                "type": "string",
                "format": "uri",
                "description": "The URL where the user should be redirected to complete payment.",
                "example": "https://checkout.payaza.com/pay/..."
              },
              "transaction_reference": {
                "type": "string",
                "description": "Unique transaction reference.",
                "example": "TX20251109"
              },
              "cancel_url": {
                "type": "string",
                "format": "uri",
                "description": "Redirect URL if the user cancels.",
                "example": "https://redirect.url/cancel"
              },
              "redirect_url": {
                "type": "string",
                "format": "uri",
                "description": "Redirect URL upon success.",
                "example": "https://redirect.url/success"
              }
            }
          }
        }
      },
      "appleAndGooglePayStatusQueryResponse": {
        "title": "Apple & Google Pay Status Query Response",
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Request success status.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Response message.",
            "example": "Transaction data found"
          },
          "data": {
            "type": "object",
            "description": "Detailed transaction information.",
            "properties": {
              "transaction_reference": {
                "type": "string",
                "description": "Payaza's unique transaction reference.",
                "example": "TX20251106"
              },
              "amount_received": {
                "type": "number",
                "format": "double",
                "description": "The amount actually received.",
                "example": 2
              },
              "transaction_fee": {
                "type": "number",
                "format": "double",
                "description": "Fee charged for the transaction.",
                "example": 0.11
              },
              "transaction_status": {
                "type": "string",
                "description": "Current status of the transaction.",
                "example": "Completed"
              },
              "sender_name": {
                "type": "string",
                "nullable": true,
                "description": "Name of the sender (if available).",
                "example": null
              },
              "sender_account_number": {
                "type": "string",
                "nullable": true,
                "description": "Sender's account number (if available).",
                "example": null
              },
              "source_bank_name": {
                "type": "string",
                "description": "Name of the source bank.",
                "example": "NA"
              },
              "initiated_date": {
                "type": "string",
                "description": "Timestamp when the transaction started.",
                "example": "2025-11-17 03:15:13.085178"
              },
              "current_status_date": {
                "type": "string",
                "description": "Timestamp of the last status update.",
                "example": "2025-11-17 03:18:40.648803"
              },
              "currency": {
                "type": "string",
                "description": "Transaction currency.",
                "example": "USD"
              },
              "session_id": {
                "type": "string",
                "description": "Unique session identifier.",
                "example": "TRN951163956AP0"
              },
              "merchant_transaction_reference": {
                "type": "string",
                "description": "The merchant's provided reference.",
                "example": "TX20251106"
              },
              "transaction_type": {
                "type": "string",
                "description": "Type/Method of transaction.",
                "example": "Google Pay"
              },
              "virtual_account_number": {
                "type": "string",
                "nullable": true,
                "description": "Associated virtual account number (if any).",
                "example": null
              },
              "status_reason": {
                "type": "string",
                "nullable": true,
                "description": "Reason for the current status (e.g., failure reason).",
                "example": null
              }
            }
          }
        }
      },
      "createDynamicAccountResponse": {
        "title": "Create Dynamic Virtual Account Response",
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Request success status.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Response message.",
            "example": "Virtual Account generated successfully"
          },
          "data": {
            "type": "object",
            "description": "Generated virtual account details.",
            "properties": {
              "account_name": {
                "type": "string",
                "description": "Full name on the generated account.",
                "example": "Payaza(Test DVA)"
              },
              "account_number": {
                "type": "string",
                "description": "The 1virtual account number.",
                "example": "7000009348"
              },
              "account_type": {
                "type": "string",
                "description": "Type of account generated (Dynamic or Static).",
                "example": "Dynamic"
              },
              "bank_name": {
                "type": "string",
                "description": "Name of the bank provider.",
                "example": "78 FINANCE COMPANY LIMITED"
              },
              "account_reference": {
                "type": "string",
                "description": "Merchant provided reference.",
                "example": "Ref123456780"
              },
              "transaction_id": {
                "type": "integer",
                "description": "Unique transaction identifier.",
                "example": 23366137
              },
              "transaction_amount_payable": {
                "type": "number",
                "description": "Amount payable (if amount validation is enabled).",
                "example": 1000
              },
              "transaction_reference": {
                "type": "string",
                "description": "The unique identifier for the transaction..",
                "example": "Ref123456780"
              },
              "expires_in_minutes": {
                "type": "integer",
                "description": "Duration before the account expires (for dynamic accounts).",
                "example": 20
              }
            }
          }
        }
      },
      "createReservedAccountResponse": {
        "title": "Create Reserved Virtual Account Response",
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Request success status.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Response message.",
            "example": "Virtual Account generated successfully"
          },
          "data": {
            "type": "object",
            "description": "Reserve account details.",
            "properties": {
              "account_name": {
                "type": "string",
                "description": "The name of the reserved virtual account being created.",
                "example": "Payaza(Test Reserved VA)"
              },
              "account_number": {
                "type": "string",
                "description": "The virtual account number.",
                "example": "7000009201"
              },
              "account_type": {
                "type": "string",
                "description": "Type of account (Static).",
                "example": "Static"
              },
              "bank_name": {
                "type": "string",
                "description": "Name of the bank provider.",
                "example": "78 FINANCE COMPANY LIMITED"
              },
              "account_reference": {
                "type": "string",
                "description": "The unique identifier for the account.",
                "example": "accRef123"
              }
            }
          }
        }
      },
      "getVirtualAccountStatusResponse": {
        "title": "Get Virtual Account Status Response",
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Request success status.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Response message.",
            "example": "Successful"
          },
          "data": {
            "type": "object",
            "description": "Detailed information about the virtual account.",
            "properties": {
              "virtual_account_number": {
                "type": "string",
                "description": "The virtual account number.",
                "example": "4030623702"
              },
              "virtual_account_name": {
                "type": "string",
                "description": "Name assigned to the virtual account.",
                "example": "Payaza(Test Reserved VA)"
              },
              "account_type": {
                "type": "string",
                "description": "Type of account (e.g., static, dynamic).",
                "example": "static"
              },
              "account_status": {
                "type": "string",
                "description": "Current status of the account.",
                "example": "Active"
              },
              "total_transactions": {
                "type": "integer",
                "description": "Total number of transactions performed on this account.",
                "example": 0
              },
[...]
